<% include ../partials/navbar %>

<link rel="stylesheet" href="/stylesheets/table-sortable.css">
<script src="/scripts/table-sortable.js" ></script>


<div class="row mt-5">
    <div class="col-md-9 m-auto">
        <div class="card card-body">
              <% include ../partials/messages %>
              <h5><center> List Of Expenses For Approval</center></h5>

              <div class="row mt-5 mb-3 align-items-center">
                <div class="col-md-5">
                    <!-- <button class="btn btn-primary btn-md" id="refresh">Refresh</button> -->
                </div>
                <div class="col-md-3">
                  <input type="text" class="form-control" placeholder="Search in table..." id="searchField">
                </div>
                <div class="col-md-2 text-right">
                  <span class="pr-3">Rows Per Page:</span>
                </div>
                <div class="col-md-2">
                    <div class="d-flex justify-content-end">
                        <select class="custom-select" name="rowsPerPage" id="changeRows">
                            <option value="1">1</option>
                            <option value="5" selected>5</option>
                            <option value="10">10</option>
                            <option value="15">15</option>
                        </select>
                    </div>
                </div>
        </div>
        <div class="table-responsive" id="expenseApprovalsTableList">



        </div>
        </div>
    </div>
</div>


<div class="modal fade" id="popup">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Expense Name </h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

              <!-- Modal body -->
              <div class="modal-body">
                  <div class="row">
                    <div class="col-md-12">
                        <nav>
                            <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                                <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Details</a>
                                <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Related</a>
                            </div>
                        </nav>
                        <div class="tab-content" id="nav-tabContent">
                            <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                                <!-- Particular Expense Details -->
                                    <table id="expenseTable" class="table table-hover striped">
                                            <!-- Inside code is handled by Jquery to add dyanamic Content -->
                                    <div id="expenseDetailsSpinner">
                                                <center> <img src="/spinner-gif-transparent-background-14.gif" />  </center>
                                      </div>
                                        
                                    </table>
                                <!-- Particular Expense Details-->
                            </div>
                            <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                                <div class="accordion" id="accordionExample">
                                    <div class="card">
                                        <div class="card-header" id="headingOne">
                                            <h5 class="mb-0">
                                                <button class="btn btn-link text-left" type="pettyCashButton"
                                                    data-toggle="collapse" data-target="#collapseOne"
                                                    aria-expanded="true" aria-controls="collapseOne">
                                                    <i class="fa fa-angle-double-right mr-3"></i>Petty Cash
                                                </button>
                                                  <!-- <button class="btn btn-primary float-right" id="pettyCashButton" >New</button> -->
                                                <!-- <a href="#" class="btn btn-primary float-right pettyCashButton" id="" style="color:white;" >New</a> -->
                                            </h5>
                                        </div>

                                        <div id="collapseOne" class="collapse show fade"
                                            aria-labelledby="headingOne" data-parent="#accordionExample">
                                            <div class="card-body">
                                                <table id="pettyCashTable" class="table table-hover striped">
                                                    
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header" id="headingTwo">
                                            <h5 class="mb-0">
                                                <button class="btn btn-link collapsed text-left" type="button"
                                                    data-toggle="collapse" data-target="#collapseTwo"
                                                    aria-expanded="false" aria-controls="collapseTwo">
                                                    <i class="fa fa-angle-double-right mr-3"></i>Conveyance Voucher
                                                </button>
                                                <!-- <button class="btn btn-primary float-right">New</button> -->
                                               <!-- <a href="#" class="btn btn-primary float-right conveyanceVoucherButton" style="color:white;">New</a> -->
                                            </h5>
                                        </div>
                                        <div id="collapseTwo" class="collapse fade" aria-labelledby="headingTwo"
                                            data-parent="#accordionExample">
                                            <div class="card-body">
                                                    <table id="conveyanceVoucherTable" class="table table-hover striped">
                                                          
                                                    </table>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header" id="headingThree">
                                            <h5 class="mb-0">
                                                <button class="btn btn-link collapsed text-left" type="button"
                                                    data-toggle="collapse" data-target="#collapseThree"
                                                    aria-expanded="false" aria-controls="collapseThree">
                                                    <i class="fa fa-angle-double-right mr-3"></i>Tour Bill Claim
                                                </button>
                                                <!-- <button class="btn btn-primary float-right">New</button> -->
                                              <!--  <a href="#" class="btn btn-primary float-right tourBillClaim" style="color:white;" id="tourBillClaimNewButton">New</a> -->
                                            </h5>
                                        </div>
                                        <div id="collapseThree" class="collapse fade"
                                            aria-labelledby="headingThree" data-parent="#accordionExample">
                                            <div class="card-body">
                                                    <table id="tourBillClaimTable" class="table  table-hover striped">
                                                            
                                                    </table>
                                            </div>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                  </div>                          
              </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary"
                        data-dismiss="modal">Close</button>
                </div>

            </div>
        </div>
    </div>



    <div class="modal fade" id="popupTourBillModal">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
        
                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title">Tour Bill  Claim Name </h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
        
                    <!-- Modal body -->
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-12">
                                <nav>
                                    <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                                        <a class="nav-item nav-link active" id="nav-homeTourBill-tab" data-toggle="tab" href="#nav-homeTourBill" role="tab" aria-controls="nav-homeTourBill" aria-selected="true">Details</a>
                                        <a class="nav-item nav-link" id="nav-profileTourBill-tab" data-toggle="tab" href="#nav-profileTourBill" role="tab" aria-controls="nav-profileTourBill" aria-selected="false">Related</a>
                                    </div>
                                </nav>
                                <div class="tab-content" id="nav-tabContent">
                                    <div class="tab-pane fade show active" id="nav-homeTourBill" role="tabpanel" aria-labelledby="nav-homeTourBill-tab">
                                        <!-- Particular Expense Details -->
                                        <table id="tourBillClaimTableInner" class="table table-hover striped">
                                            <!-- Inside code is handled by Jquery to add dyanamic Content -->
                                            <div id="tourBillClaimTableSpinner">
                                                    <center> <img src="/spinner-gif-transparent-background-14.gif" />  </center>
                                            </div>
                                        </table>
                                        <!-- Particular Expense Details-->
                                    </div>
                                    <div class="tab-pane fade" id="nav-profileTourBill" role="tabpanel" aria-labelledby="nav-profileTourBill-tab">
                                        <div class="accordion" id="accordionExample">
        
                                            <div class="card">
                                                <div class="card-header" id="headingOne">
                                                    <h5 class="mb-0">
                                                    <button class="btn btn-link text-left collapsed" type="pettyCashButton"
                                                        data-toggle="collapse" data-target="#collapseOne"
                                                        aria-expanded="true" aria-controls="collapseOne">
                                                        <i class="fa fa-angle-double-right mr-3"></i>Air/Rail/Bus  Fare
                                                    </button>
                                                    <a href="#" class="btn btn-primary float-right airRailBusCharges" id="airRailBusCharges" style="color:white;" >New</a>
                                                </h5>
                                                </div>
        
                                                <div id="collapseOne" class="collapse  fade" aria-labelledby="headingOne" data-parent="#accordionExample">
                                                    <div class="card-body">
                                                        <!-- Need to show Table -->
                                                        <table id="airRailBusTable" class="table table-striped">
        
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
        
                                            <div class="card">
                                                <div class="card-header" id="headingTwo">
                                                    <h5 class="mb-0">
                                                    <button class="btn btn-link text-left collapsed" type="pettyCashButton"
                                                        data-toggle="collapse" data-target="#collapseTwo"
                                                        aria-expanded="true" aria-controls="collapseTwo">
                                                        <i class="fa fa-angle-double-right mr-3"></i>Conveyance Charges
                                                    </button>
                                                    <a href="#" class="btn btn-primary float-right conveyanceCharges" id="pettyCashButton" style="color:white;" >New</a>
                                                </h5>
                                                </div>
        
                                                <div id="collapseTwo" class="collapse fade" aria-labelledby="headingTwo" data-parent="#accordionExample">
                                                    <div class="card-body">
                                                        <!-- Need to show Table -->
                                                        <table id="conveyanceChargesTable" class="table table-striped">
        
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
        
                                            <div class="card">
                                                <div class="card-header" id="headingThree">
                                                    <h5 class="mb-0">
                                                    <button class="btn btn-link text-left collapsed" type="pettyCashButton"
                                                        data-toggle="collapse" data-target="#collapseThree"
                                                        aria-expanded="true" aria-controls="collapseThree">
                                                        <i class="fa fa-angle-double-right mr-3"></i>Boarding & Lodging Charges
                                                    </button>
                                                     <!-- <button class="btn btn-primary float-right" id="pettyCashButton" >New</button> -->
                                                    <a href="#" class="btn btn-primary float-right boardingLodgingCharges" id="boardingLodgingCharges" style="color:white;" >New</a>
                                                </h5>
                                                </div>
        
                                                <div id="collapseThree" class="collapse  fade" aria-labelledby="headingThree" data-parent="#accordionExample">
                                                    <div class="card-body">
                                                        <!-- Need to show Table -->
                                                        <table id="boardingLodgingChargesTable" class="table table-striped">
        
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
        
                                            <div class="card">
                                                <div class="card-header" id="headingFour">
                                                    <h5 class="mb-0">
                                                    <button class="btn btn-link collapsed text-left" type="button"
                                                        data-toggle="collapse" data-target="#collapseFour"
                                                        aria-expanded="false" aria-controls="collapseFour">
                                                        <i class="fa fa-angle-double-right mr-3"></i>Telephone & Food Charges
                                                    </button>
                                                    <!-- <button class="btn btn-primary float-right">New</button> -->
                                                    <a href="#" class="btn btn-primary float-right telephoneFood" style="color:white;">New</a>
                                                </h5>
                                                </div>
                                                <div id="collapseFour" class="collapse fade" aria-labelledby="headingFour" data-parent="#accordionExample">
                                                    <div class="card-body">
                                                        <!-- Need to create table here -->
                                                        <table id="telephoneFoodChargesTable" class="table table-striped">
        
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
        
                                            <div class="card">
                                                <div class="card-header" id="headingFive">
                                                    <h5 class="mb-0">
                                                    <button class="btn btn-link collapsed text-left" type="button"
                                                        data-toggle="collapse" data-target="#collapseFive"
                                                        aria-expanded="false" aria-controls="collapseFive">
                                                        <i class="fa fa-angle-double-right mr-3"></i>Miscellaneous Charges
                                                    </button>
                                                    <!-- <button class="btn btn-primary float-right">New</button> -->
                                                    <a href="#" class="btn btn-primary float-right miscellaneousCharges" style="color:white;"  id="tourBillClaim">New</a>
                                                </h5>
                                                </div>
                                                <div id="collapseFive" class="collapse fade" aria-labelledby="headingFive" data-parent="#accordionExample">
                                                    <div class="card-body">
                                                        <!-- Need to create table here -->
                                                        <table id="miscellaneousChargesTable" class="table table-striped">
        
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
        
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
        
                    </div>
        
                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
        
                </div>
            </div>
        </div>





    <div id="viewDetailsModal" class="modal modal-md fade ">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">View</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div id="selecedExpense" class="modal-body">
                    <table id="selectedExpenseTable">
                            <div id="detailLoadingSpinner">
                                    <center> <img src="/spinner-gif-transparent-background-14.gif" />  </center>
                            </div>

                    </table>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
    </div>




<script>
    $(document).ready(function(){
        $('#expenseDetailsSpinner').hide();

        let columns = {
            sequence: 'Sr No.',
            recordName: 'Expense Name',
            totalAmount : 'Total Amount',
            currentStatus: 'Current Status',
            createdDate: 'Created Date',
            approveBtn : 'Approve', 
            rejectBtn : 'Reject',
            
        };

        var table = $('#expenseApprovalsTableList').tableSortable({
            data :[],
            columns,
            searchField: '#searchField',
            sorting: true,
            rowsPerPage: 5,
            pagination:true,
            tableWillMount: () => {
                console.log('table will mount')
                
            },
            tableDidMount: () => {
                console.log('table did mount');
  
              //  $('#spinner').hide();
            },
            tableWillUpdate: () => {
                console.log('table will update')
              //  table.refresh();
              // onLoadTask();
            },
            tableDidUpdate: () => {
              console.log('table did update');
              anchorClickFunctionalities();
             // onLoadTask();
            },
            tableWillUnmount: () => console.log('table will unmount'),
            tableDidUnmount: () => console.log('table did unmount'),
            onPaginationChange: function(nextPage, setPage) {
                setPage(nextPage);
            }, 
        });
  

        $.get("/approvals/expenseApprovalsList",
        function(returnedData){
            console.log('returnedData  : '+JSON.stringify(returnedData));
            if(returnedData.length > 0)
            {
                table.setData(returnedData, columns);
                anchorClickFunctionalities();
            }
        }).fail(function(error){
            console.log("error "+error.stack);
        });  
        
       // onLoadTask();d
       

        function anchorClickFunctionalities()
        {

           // onLoadTask();
            $(".approvalButton").click(function(event){
                event.stopPropagation();
                event.stopImmediatePropagation();
               // alert('this.id  : '+this.id);
                let selectedId =  this.id;
                alert(selectedId);
                let type = selectedId.split('-')[0];
                let mixedIds = selectedId.split('-')[1];
                alert(mixedIds);
                let expenseId = mixedIds.split('@')[0];
                let customApprovalId = mixedIds.split('@')[1];
                alert('type  : '+type+' expenseId : '+expenseId+' customApprovalId : '+customApprovalId);


                $.post('/approvals/handleExpenseApproval',{type: type, expenseId: expenseId, customApprovalId:customApprovalId}, function(response){
                    console.log('response : '+response);
                    alert(response);
                }).fail(function(jqXHR, status, err){
                    console.log('error '+err);
                    console.log('jqXHR  : '+JSON.stringify(jqXHR));
                })

            });

            $("a.expnseRecordName").click(function(event){
                event.stopPropagation();
                event.stopImmediatePropagation();

                alert(this.id);
                let expenseId = this.id.substring(4,23);
                alert('expenseId'+expenseId);

                $.ajax({
                    type : 'GET',
                    url  : '/expense/details',
                    data : {
                        'expenseId' : expenseId
                    },
                    dataType : 'json',
                    beforeSend: function()
                    {
                      $('#popup').modal('show');
                      $('#expenseDetailsSpinner').show();
                    }
                })
                .done((expenseRelatedData) => {
                  
                    let expenseRecord = expenseRelatedData.Expense[0];
                    console.log('expenseList  '+JSON.stringify(expenseRecord));
      
                    let expenseTableRows = '';
                    expenseTableRows += '<tr>';
                    expenseTableRows += '<td><strong>Expense Name<strong></td>';
                    expenseTableRows += '<td>'+expenseRecord.name+'</td>';
                    expenseTableRows += '<td><strong>Project Name<strong></td>';
                    expenseTableRows += '<td>Project 6</td>';
                    expenseTableRows += '</tr>';   
                    
                    expenseTableRows += '<tr>';
                    expenseTableRows += '<td><strong>Department<strong></td>';
                    if(expenseRecord.department__c != null)
                      expenseTableRows += '<td>'+expenseRecord.department__c+'</td>';
                    else
                      expenseTableRows += '<td> </td>';
                    expenseTableRows += '<td><strong>Designation<strong></td>';
                    expenseTableRows += '<td>'+expenseRecord.designation__c+'</td>';
                    expenseTableRows += '</tr>';   
      
                    expenseTableRows += '<tr>';
                    expenseTableRows += '<td><strong>Employee ID<strong></td>';
                    expenseTableRows += '<td>'+expenseRecord.employee_id__c+'</td>';
                    expenseTableRows += '<td><strong>Employee Category / Band<strong></td>';
                    if(expenseRecord.conveyance_employee_category_band__c != null)
                      expenseTableRows += '<td>'+expenseRecord.conveyance_employee_category_band__c+'</td>';
                    else
                    expenseTableRows += '<td> </td>';
                    expenseTableRows += '</tr>';   
      
                    expenseTableRows += '<tr>';
                    expenseTableRows += '<td><strong>Approval Status<strong></td>';
                    if(expenseRecord.approval_status__c != null)
                      expenseTableRows += '<td>'+expenseRecord.approval_status__c+'</td>';
                    else 
                      expenseTableRows += '<td> </td>';
                    expenseTableRows += '<td><strong><strong></td>';
                    expenseTableRows += '<td>'+' '+'</td>';
                    expenseTableRows += '</tr>';   
      
                    expenseTableRows += '<tr>';
                    expenseTableRows += '<td colspan="4" style="background-color:#d3d3d3;padding:5px;"><h5 style="padding-left:5px;">Amount Information</h5></td>';    
                    expenseTableRows += '</tr>';
      
                    expenseTableRows += '<tr>';
                    expenseTableRows += '<td><strong>Amount Claimed<strong></td>';
                    expenseTableRows += '<td>'+expenseRecord.amount_claimed__c+'</td>';
                    expenseTableRows += '<td><strong>Petty Cash Amount<strong></td>';
                    expenseTableRows += '<td>'+expenseRecord.petty_cash_amount__c+'</td>';
                    expenseTableRows += '</tr>'; 
      
                    expenseTableRows += '<tr>';
                    expenseTableRows += '<td><strong>Conveyance Amount<strong></td>';
                    expenseTableRows += '<td>'+expenseRecord.conveyance_amount__c+'</td>';
                    expenseTableRows += '<td><strong>Tour Bill Claim Amount<strong></td>';
                    expenseTableRows += '<td>'+expenseRecord.tour_bill_claim__c+'</td>';
                    expenseTableRows += '</tr>';   
      
                    //$('#expenseTable').append(expenseTableRows);
                    $('#expenseDetailsSpinner').hide();
                    $('#expenseTable').empty();
                    $('#expenseTable').html(expenseTableRows);
      
      
                    
                    let pettyCashList = expenseRelatedData.PettyCash;
                    console.log('pettyCashList  '+JSON.stringify(pettyCashList));
                    let lengthOfPettyCashList = pettyCashList.length ;
                    console.log('lengthOfPettyCashList : '+lengthOfPettyCashList);
                    let pettyCashTableRows = '<thead><tr>';
                    pettyCashTableRows += '<th>Name</th>';
                    pettyCashTableRows += '<th>Total Amount</th>';
                    pettyCashTableRows += '<th>Nature Of Expense</th>';
                    pettyCashTableRows += '<th>Created Date</th>';
                    pettyCashTableRows += '</tr></thead>';
      
                    for(let i= 0 ; i < lengthOfPettyCashList ; i++)
                    {
                      var strDate = pettyCashList[i].bill_date__c.toString().split('T')[0];
                      pettyCashTableRows += '<tr>';
                      pettyCashTableRows += '<td><a href="#" id="'+pettyCashList[i].sfid+'"  class="pettyCashNames"  >'+pettyCashList[i].name+'</a></td>';
                      pettyCashTableRows += '<td>'+pettyCashList[i].amount__c+'</td>';
                    //  pettyCashTableRows += '<td>'+pettyCashList[i].activity_code__c+'</td>';
                      pettyCashTableRows += '<td>'+pettyCashList[i].nature_of_exp__c+'</td>';
                      pettyCashTableRows += '<td>'+strDate+'</td>';
                      pettyCashTableRows += '</tr>';
                    }
                  //  pettyCashTableRows += '<tr><td colspan="4"><center><a target="_blank" href="/expense/pettycashlistview?expenseId='+expenseId+'" >View All</a></center></td></tr>';
                    $('#pettyCashTable').empty();
                    $('#pettyCashTable').html(pettyCashTableRows);
                  
      
                    let conveyanceVoucherList =  expenseRelatedData.Conveyance;
                    console.log('conveyanceVoucherList  '+JSON.stringify(conveyanceVoucherList));
                    let conveyanceVoucherListLength = conveyanceVoucherList.length ;
      
                    let conveyanceVoucherTableRows = '';
      
                    for(let i=0 ;i < conveyanceVoucherListLength ; i++)
                    {
                      var strDate = conveyanceVoucherList[i].from__c.toString().split('T')[0];
                      if(i== 0)
                      {
                        conveyanceVoucherTableRows += '<thead><tr>';
                        conveyanceVoucherTableRows += '<th>Conveyance Voucher ID</th>';
                        conveyanceVoucherTableRows += '<th>Amount</th>';
                        conveyanceVoucherTableRows += '<th>Mode Of Conveyance</th>';
                        conveyanceVoucherTableRows += '<th>From</th>';
                        conveyanceVoucherTableRows += '</tr></thead><tbody>';
                      }
                      conveyanceVoucherTableRows += '<tr>';
                      conveyanceVoucherTableRows += '<td><a href="#" id="'+conveyanceVoucherList[i].sfid+'" class="conveyanceVoucherNames" >'+conveyanceVoucherList[i].name+'</a></td>';
                      conveyanceVoucherTableRows += '<td>'+conveyanceVoucherList[i].amount__c+'</td>';
                      conveyanceVoucherTableRows += '<td>'+conveyanceVoucherList[i].mode_of_conveyance__c+'</td>';
                      conveyanceVoucherTableRows += '<td>'+strDate+'</td>';
                      conveyanceVoucherTableRows += '</tr>';
                    }
                 //   conveyanceVoucherTableRows += '<tr><td colspan="4"><center><a target="_blank" href="/expense/ConveyanceListView?expenseId='+expenseId+'" >View All</a></center></td></tr></tbody>';
                    $('#conveyanceVoucherTable').empty();
                    $('#conveyanceVoucherTable').html(conveyanceVoucherTableRows);
                    
                    
                    let tourBillClaimList = expenseRelatedData.TourBillClaim;
                    let tourBillClaimListLength = tourBillClaimList.length ;
                    console.log('tourBillClaimList  '+JSON.stringify(tourBillClaimList));
      
                    let tourBillClaimTableRows = '';
                
                    for(let i=0 ; i < tourBillClaimListLength ; i++)
                    {
                      if(i == 0 )
                      {
                          tourBillClaimTableRows += '<thead><tr>';
                          tourBillClaimTableRows += '<th>Tour Bill Claim Name</th>';
                          tourBillClaimTableRows += '<th>Grand Total</th>';
                          tourBillClaimTableRows += '</tr></thead><tbody>';
                      }
                      tourBillClaimTableRows += '<tr>';
                      tourBillClaimTableRows += '<td><a href="#" id="'+tourBillClaimList[i].sfid+'" class="tourBillClaimNames" >'+tourBillClaimList[i].name+'</a></td>';
                      tourBillClaimTableRows += '<td>'+tourBillClaimList[i].grand__c+'</td>';
                      tourBillClaimTableRows += '</tr>';
                    }
                 //   tourBillClaimTableRows += '<tr><td colspan="4"><center><a target="_blank" href="/expense/tourBillClaim/tourBillClaimListview?expenseId='+expenseId+'" >View All</a></center></td></tr></tbody>';
                    $('#tourBillClaimTable').empty();
                    $('#tourBillClaimTable').html(tourBillClaimTableRows);


                    $('a.pettyCashNames').click(function(){
                        alert('pettyCashNames'+this.id);
                            $('#viewDetailsModal').modal('show');

                            event.stopImmediatePropagation();
                            event.stopPropagation();
                            $('#pettyCashDetailsModal').modal('show');
                            let pettyCashId = this.id;
                            alert('pettyCashId  '+pettyCashId);
                            $('#pettyCashDetailsModal').modal('show');
    
                             
                            $.ajax({
                                url : '/expense/getpettycashDetail',
                                type:'get',
                                data : {
                                    pettyCashId : pettyCashId
                                },
                                dataType: 'json',
                                beforeSend : function(){
                                  $('#detailLoadingSpinner').show();
                                }
                            })
                            .done((response) => {
                                console.log('pettyCashDetails  : '+JSON.stringify(response));
                                $('#detailLoadingSpinner').hide();
                                if(response.length > 0)
                                {
                                  let pettyCashRecord = response[0];
                                  let htmlTable = '';
                              /*    let billDate = new Date(pettyCashRecord.bill_date__c);
                                  billDate.setHours(billDate.getHours() + 5);
                                  billDate.setMinutes( billDate.getMinutes() + 30 );
                                  let createdDate = new Date(pettyCashRecord.createddate);
                                  createdDate.setHours(createdDate.getHours() + 5);
                                  createdDate.setMinutes( createdDate.getMinutes() + 30 ); */
                                  let strBillDate = pettyCashRecord.bill_date__c.split('T')[0];
                                  let createdDate = new Date(pettyCashRecord.createddate);
                                  createdDate.setHours(createdDate.getHours() + 5);
                                  createdDate.setMinutes(createdDate.getMinutes() + 30);
                                  let strCreatedDate = createdDate.toLocaleString();
                                  htmlTable += '<tr>';
                                      htmlTable += '<td><strong>Name</strong></td>';
                                      htmlTable += '<td>'+pettyCashRecord.pettycashname+'</td>';
                                      htmlTable += '<td><strong>Expense Name</strong></td>';
                                      htmlTable += '<td>'+pettyCashRecord.expname+'</td>';
                                  htmlTable += '</tr>';
                                   
                                  htmlTable += '<tr>';
                                  htmlTable += '<td><strong>Bill Number</strong></td>';
                                  htmlTable += '<td>'+pettyCashRecord.bill_no__c+'</td>';
                                  htmlTable += '<td><strong>Bill Date</strong></td>';
                                  htmlTable += '<td>'+strBillDate+'</td>';
                                  htmlTable += '</tr>';
                                  htmlTable += '<tr>';
                                      htmlTable += '<td><strong>Nature Of Expense</strong></td>';
                                      if(pettyCashRecord.nature_of_exp__c != null)
                                          htmlTable += '<td>'+pettyCashRecord.nature_of_exp__c+'</td>';
                                      else
                                          htmlTable += '<td></td>';
                                      htmlTable += '<td><strong>Amount</strong></td>';
                                      htmlTable += '<td>'+pettyCashRecord.amount__c+'</td>';
                                  htmlTable += '</tr>';
                                  htmlTable += '<tr>';
                                    htmlTable += '<td><strong>Activity Code</strong></td>';
                                    htmlTable += '<td>'+pettyCashRecord.activity_code__c+'</td>';
                                    htmlTable += '<td><strong>Project Task</strong></td>';
                                    if(pettyCashRecord.project_tasks__c != null)
                                        htmlTable += '<td>'+pettyCashRecord.project_tasks__c+'</td>';
                                    else
                                        htmlTable += '<td></td>';
                                htmlTable += '</tr>';
                                  htmlTable += '<tr>';
                                      htmlTable += '<td><strong>Description</strong></td>';
                                      htmlTable += '<td>'+pettyCashRecord.description_of_activity_expenses__c+'</td>';
                                      htmlTable += '<td><strong>Created Date</strong></td>';
                                      htmlTable += '<td>'+strCreatedDate+'</td>';
                                  htmlTable += '</tr>';
                                  htmlTable += '<tr>';
                                    htmlTable += '<td><strong>View Image</strong></td>';
                                    if(pettyCashRecord.heroku_image_url__c != null && pettyCashRecord.heroku_image_url__c != '')
                                      htmlTable += '<td><a target="_blank" href="'+pettyCashRecord.heroku_image_url__c+'" >Click Here</a></td>';
                                    else
                                      htmlTable += '<td></td>';
                                      
                                    htmlTable += '<td><strong></strong></td>';
                                    htmlTable += '<td></td>';
                                htmlTable += '</tr>';
                                  
                                  $('#selectedExpenseTable').empty();
                                  $('#selectedExpenseTable').html(htmlTable);
                                }
                               
                            })
                            .fail((jqXHR, status, error) =>{
                              $('#detailLoadingSpinner').show();
                              console.log('jqXHR  : '+JSON.stringify(jqXHR));
                              console.log('error  : '+error);
                            })
                    
                    })


                    $('a.conveyanceVoucherNames').click(function(event){
                        alert('conveyanceVoucherNames');
                        $('#viewDetailsModal').modal('show');
                        event.stopImmediatePropagation();
                        event.stopPropagation();
                        let conveyanceId = this.id;
                        alert('conveyanceId  '+conveyanceId);
                        $('#conveyanceModal').modal('show');
        
                        $.ajax({
                            url : '/expense/getConveyanceVoucherDetail',
                            type:'get',
                            data : {
                                conveyanceId : conveyanceId
                            },
                            dataType: 'json',
                            beforeSend : function(){
                              $('#detailLoadingSpinner').show();
                            }
                        })
                            .done((response)=>{
                                console.log('ConveyanceVoucherDetail '+JSON.stringify(response));
                              $('#detailLoadingSpinner').hide();
                              if(response.length > 0)
                                    {
                                      let conveyanceRecord = response[0];
                                      let htmlTable = '';
                                      let strCreatedDate = new Date(conveyanceRecord.createddate).toLocaleString();
                                      htmlTable += '<tr>';
                                          htmlTable += '<td><strong>Name</strong></td>';
                                          htmlTable += '<td>'+conveyanceRecord.conveyancename+'</td>';
                                          htmlTable += '<td><strong>Expense Name</strong></td>';
                                          htmlTable += '<td>'+conveyanceRecord.expname+'</td>';
                                      htmlTable += '</tr>';
                                      htmlTable += '<tr>';
                                        htmlTable += '<td><strong>Amount</strong></td>';
                                        htmlTable += '<td>'+conveyanceRecord.amount__c+'</td>';
                                        htmlTable += '<td><strong>Mode of Conveyance</strong></td>';
                                        htmlTable += '<td>'+conveyanceRecord.mode_of_conveyance__c+'</td>';
                                      htmlTable += '</tr>';
                                      
                                      htmlTable += '<tr>';
                                      htmlTable += '<td><strong>Acitivity Code</strong></td>';
                                      if(conveyanceRecord.activity_code__c != null)
                                          htmlTable += '<td>'+conveyanceRecord.activity_code__c+'</td>';
                                      else
                                          htmlTable += '<td></td>';
        
                                      htmlTable += '<td><strong>Project Task</strong></td>';
                                      if(conveyanceRecord.project_tasks__c != null)
                                          htmlTable += '<td>'+conveyanceRecord.project_tasks__c+'</td>';
                                      else
                                          htmlTable += '<td></td>';
                                      htmlTable += '</tr>';
        
                                      htmlTable += '<tr>';
                                        htmlTable += '<td><strong>Purpose of Travel</strong></td>';
                                        htmlTable += '<td>'+conveyanceRecord.purpose_of_travel__c+'</td>';
                                        htmlTable += '<td><strong>Create Date</strong></td>';
                                        htmlTable += '<td>'+strCreatedDate+'</td>';
                                      htmlTable += '</tr>';
        
                                      htmlTable += '<tr>';    
                                      htmlTable += '<td><strong>View Image</strong></td>';
                                      if(conveyanceRecord.heroku_image_url__c != null && conveyanceRecord.heroku_image_url__c != '' && conveyanceRecord.heroku_image_url__c != 'demo')
                                          htmlTable += '<td><a target="_blank" href="'+conveyanceRecord.heroku_image_url__c+'" >Click Here</a></td>';
                                      else
                                          htmlTable += '<td></td>';
                                      htmlTable += '<td><strong>Kms Travelled</strong></td>';
                                      htmlTable += '<td>'+conveyanceRecord.kms_travelled__c+'</td>';
                                      htmlTable += '</tr>';
        
                                      $('#selectedExpenseTable').empty();
                                      $('#selectedExpenseTable').html(htmlTable);
                
        
                                }
        
        
                            })
                            .fail((jqXHR, status, error) =>{
                                $('#detailLoadingSpinner').show();
                                console.log('jqXHR  : '+JSON.stringify(jqXHR));
                                console.log('error  : '+error);
                              })


                    })


                    //Tour Bill claim


                    $('a.tourBillClaimNames').click(function(){
                        alert('tourBillClaimNames  : '+this.id);
                          //  $('#viewDetailsModal').modal('show');

                          event.preventDefault();
                          event.stopImmediatePropagation();
                          event.stopPropagation();
                          $('#popupTourBillModal').modal('show');
                        
                        let  tourBillClaimId = this.id;
                        alert('tourBillClaimId  '+tourBillClaimId);
                       // document.getElementById('tourBillId').innerHTML = tourBillClaimId;
          
                          $.ajax({
                            type: 'get',
                            url : '/expense/tourBillClaim/getRelatedTourBillClaimDetails/'+tourBillClaimId,
                            dataType : 'json',
                            beforeSend : function(){
                                $('#tourBillClaimTableSpinner').show();
                            }
                          
                        })
                        .done((responseData) => {
                            $('#tourBillClaimTableSpinner').hide(); 
                            console.log('response getRelatedTourBillClaimDetails data '+JSON.stringify(responseData));
                            let tourBillClaim = responseData.tourBillClaim;
                            console.log('tourBillClaim  '+JSON.stringify(tourBillClaim));
                            let tourBillClaimTableHtml = '';
                            tourBillClaimTableHtml += '<tr>';
                            tourBillClaimTableHtml += '<td>Name</td>';
                            tourBillClaimTableHtml += '<td>'+tourBillClaim.name+'</td>';
                            tourBillClaimTableHtml += '<td>Expense </td>';
                            tourBillClaimTableHtml += '<td>'+tourBillClaim.expense__c+'</td>';
                            tourBillClaimTableHtml += '</tr>'; 
                            tourBillClaimTableHtml += '<tr>'; 
                            tourBillClaimTableHtml += '<td>Grand Total</td>';
                            tourBillClaimTableHtml += '<td>'+tourBillClaim.grand__c+'</td>';
                            tourBillClaimTableHtml += '<td></td>';
                            tourBillClaimTableHtml += '<td></td>';
                            tourBillClaimTableHtml += '</tr>';
          
                            
                            $('#tourBillClaimTableInner').html(tourBillClaimTableHtml);
              
              
                        
                            let airBusRailFare = responseData.airBusRailFare;
                            if(typeof(airBusRailFare) != 'undefined')
                            {

                           
                            console.log('airBusRailFare  '+JSON.stringify(airBusRailFare));
                            let airBusRailFareHtml = '';
                            if(airBusRailFare.length > 0)
                            {
                              airBusRailFareHtml = '<thead>';
                              airBusRailFareHtml += '<th>Air Rail Bus Fares</th>';
                              airBusRailFareHtml += '<th>Arrival Date</th>';
                              airBusRailFareHtml += '<th>Departure Date</th>';
                              airBusRailFareHtml += '<th>Amount</th>';
                              airBusRailFareHtml += '</thead>';
                              airBusRailFareHtml += '<tbody>';
              
                              airBusRailFare.forEach((eachAirRailBus) => {
                                let strArrivalDate = eachAirRailBus.arrival_date__c.toString().split('T')[0];
                                let strDepartureDate = eachAirRailBus.departure_date__c.toString().split('T')[0];
                                airBusRailFareHtml += '<tr>';
                                airBusRailFareHtml += '<td>'+eachAirRailBus.name+'</td>';
                                airBusRailFareHtml += '<td>'+strArrivalDate+'</td>';
                                airBusRailFareHtml += '<td>'+strDepartureDate+'</td>';
                                airBusRailFareHtml += '<td>'+eachAirRailBus.amount__c+'</td>';
                                airBusRailFareHtml += '</tr>';
                              });
                              airBusRailFareHtml += '<tr ><td colspan="4"><center><a target="_blank" href="/expense/tourBillClaim/getAirBusListView?tourBillClaimId='+tourBillClaimId+'" >View All</a></center></td></tr>';
                              airBusRailFareHtml += '</tbody>';
                              
                              $('#airRailBusTable').html(airBusRailFareHtml);
                            }
              
                        }
              
                            let conveyanceCharges = responseData.conveyanceCharges;
                            if(typeof(conveyanceCharges) != 'undefined')
                            {

                           
                            console.log('conveyanceCharges  '+JSON.stringify(conveyanceCharges));
                            if(conveyanceCharges.length > 0)
                            {
                              let conveyanceChargesHtml = '<thead>';
                              conveyanceChargesHtml += '<th>ConveyanceCharges</th>';
                              conveyanceChargesHtml += '<th>Amount</th>';
                              conveyanceChargesHtml += '<th>Date</th>';
                              conveyanceChargesHtml += '</thead><tbody>';
                              conveyanceCharges.forEach((eachConveyanceCharge) => {
                                let strDate = eachConveyanceCharge.date__c.toString().split('T')[0]; 
                                conveyanceChargesHtml += '<tr>';
                                conveyanceChargesHtml += '<td>'+eachConveyanceCharge.name+'</td>';
                                conveyanceChargesHtml += '<td>'+strDate+'</td>';
                                conveyanceChargesHtml += '<td>'+eachConveyanceCharge.amount__c+'</td>';  
                                conveyanceChargesHtml += '</tr>';
                              });
                              conveyanceChargesHtml += '<tr ><td colspan="4"><center><a target="_blank" href="/expense/tourBillClaim/conveyanceChargesListView?tourBillClaimId='+tourBillClaimId+'" >View All</a></center></td></tr>';
                              conveyanceChargesHtml += '</tbody>';
                              
                              $('#conveyanceChargesTable').html(conveyanceChargesHtml);
                            }
                        
                        }
              
                            let boardingLodgingCharges = responseData.boardingLodgingCharges;
                            if(typeof(boardingLodgingCharges) != 'undefined')
                            {

                            
                            console.log('boardingLodgingCharges  '+JSON.stringify(boardingLodgingCharges));
                            if(boardingLodgingCharges.length > 0)
                            {
                              let boardingLodgingChargesHtml = '<thead>';
                                  boardingLodgingChargesHtml += '<th>Boarding Lodging  Number</th>';
                                  boardingLodgingChargesHtml += '<th>Amount for Boarding & Lodging</th>';
                                  boardingLodgingChargesHtml += '<th>Place Journey</th>';
                                  boardingLodgingChargesHtml += '</thead><tbody>';
                                boardingLodgingCharges.forEach((eachBoardingLodging) => {
                                  boardingLodgingChargesHtml += '<tr>';
                                  boardingLodgingChargesHtml += '<td>'+eachBoardingLodging.name+'</td>';
                                  boardingLodgingChargesHtml += '<td>'+eachBoardingLodging.total_amount__c+'</td>';
                                  boardingLodgingChargesHtml += '<td>'+eachBoardingLodging.place_journey__c+'</td>';  
                                  boardingLodgingChargesHtml += '</tr>';
                              });
                              boardingLodgingChargesHtml +='<tr ><td colspan="4"><center><a target="_blank" href="/expense/tourBillClaim/boardingLodgingListView?tourBillClaimId='+tourBillClaimId+'" >View All</a></center></td></tr>';
                              boardingLodgingChargesHtml += '</tbody>'
          
                              $('#boardingLodgingChargesTable').html(boardingLodgingChargesHtml);
                            }
                        }
              
                            let telephoneFoodCharges = responseData.telephoneFoodCharges;
                            if(typeof(telephoneFoodCharges) != 'undefined')
                            {

                           
                            console.log('telephoneFoodCharges  '+JSON.stringify(telephoneFoodCharges));
                            if(telephoneFoodCharges.length > 0)
                            {
                                let telephoneFoodChargesHtml = '<thead>';
                                    telephoneFoodChargesHtml += '<th>Telephone Food & Laundry Expense Number</th>';
                                    telephoneFoodChargesHtml += '<th>Fooding Expense</th>';
                                    telephoneFoodChargesHtml += '<th>Laundry Expense</th>';
                                    telephoneFoodChargesHtml += '<th>Reamrks</th>';
                                    telephoneFoodChargesHtml += '</thead><tbody>';
                              telephoneFoodCharges.forEach((eachTelephoneFoodCharge) => {
                                    telephoneFoodChargesHtml += '<tr>';
                                    telephoneFoodChargesHtml += '<td>'+eachTelephoneFoodCharge.name+'</td>';
                                    telephoneFoodChargesHtml += '<td>'+eachTelephoneFoodCharge.laundry_expense__c+'</td>';
                                    telephoneFoodChargesHtml += '<td>'+eachTelephoneFoodCharge.fooding_expense__c+'</td>';  
                                    telephoneFoodChargesHtml += '<td>'+eachTelephoneFoodCharge.remarks__c+'</td>';  
                                    telephoneFoodChargesHtml += '</tr>';
                              });
                              telephoneFoodChargesHtml+='<tr ><td colspan="4"><center><a target="_blank" href="/expense/tourBillClaim/telephoneFoodCharge?tourBillClaimId='+tourBillClaimId+'" >View All</a></center></td></tr>';
                              telephoneFoodChargesHtml += '</tbody>'
          
                              $('#telephoneFoodChargesTable').html(telephoneFoodChargesHtml);
                            }
                        }
              
                            let miscellenousCharges = responseData.miscellenousCharges;
                            if(typeof(miscellenousCharges) != 'undefined')
                            {

                            
                            console.log('miscellenousCharges   '+JSON.stringify(miscellenousCharges));
                            if(miscellenousCharges.length > 0)
                            {
                              let miscellenousChargesHtml = '<thead>';
                                  miscellenousChargesHtml += '<th>Miscellaneous Name</th>';
                                  miscellenousChargesHtml += '<th>Date</th>';
                                  miscellenousChargesHtml += '<th>Amount</th>';
                                  miscellenousChargesHtml += '<th>Remarks</th>';
                                  miscellenousChargesHtml += '</thead><tbody>';
                              miscellenousCharges.forEach((eachMiscellenousCharge) => {
                                  let strDate = eachMiscellenousCharge.date__c.toString().split('T')[0];
                                  miscellenousChargesHtml += '<tr>';
                                  miscellenousChargesHtml += '<td>'+eachMiscellenousCharge.name+'</td>';
                                  miscellenousChargesHtml += '<td>'+strDate+'</td>';
                                  miscellenousChargesHtml += '<td>'+eachMiscellenousCharge.amount__c+'</td>';  
                                  miscellenousChargesHtml += '<td>'+eachMiscellenousCharge.remarks__c+'</td>';  
                                  miscellenousChargesHtml += '</tr>';
                              });
                              
                              miscellenousChargesHtml+='<tr ><td colspan="4"><center><a target="_blank" href="/expense/tourBillClaim/miscellaneousCharge?tourBillClaimId='+tourBillClaimId+'" >View All</a></center></td></tr>';
                              miscellenousChargesHtml += '</tbody>'
          
                              $('#miscellaneousChargesTable').html(miscellenousChargesHtml);
                            } 
                        }
                        })
                        .fail((jqXHR, textStatus, err) => {
                          $('#tourBillClaimTableSpinner').hide(); 
                            console.log('textStatus  '+textStatus);
                            
                        })

                    })
                


                  
                        
                    
                })
                .fail((jqXHR, textStatus, err) => {
                    console.log('AJAX error response :',textStatus);
                })




      
            });



          
        }


    })
</script>
      