<form method="POST" action='/addEditExpense'>
    <div class="form-group">  
        <div class="row">
          <div class="col-md-6">
            <label for="validationTooltip01">Expense Name</label>
            <input type="text" class="form-control" id="validationTooltip01" value="JJJJJJJ" placeholder="Task Name"  name="taskname" required>
          </div>
         
          <div class="col-md-6">
           <label for="validationTooltipUsername">Project Name</label>
           <select class="custom-select custom-select-sm form-control" name="status" id="validationTooltipUsername">
               
           </select>
          </div>
        </div>
      </div>

      <div class="form-group"> 
        <div class="row">
          <div class="col-md-6">
            <label for="validationTooltip03">Department</label>
            <input type="text" class="form-control" id="validationTooltip03" placeholder="Deaprtment"  name="department" >
          </div>
          <div class="col-md-6">
            <label for="validationTooltip04">Designation</label>
            <input type="text" class="form-control" id="validationTooltip04" placeholder="Designation"  name="designation" >
          </div>
        </div>
      </div>
      
      <div class="form-group"> 
        <div class="row">
          <div class="col-md-6">
            <label for="validationTooltip03">Employee ID</label>
            <input type="text" class="form-control" id="validationTooltip03" placeholder="Deaprtment"  name="department" >
          </div>
          <div class="col-md-6">
            <label for="validationTooltip04">Employee Category/ Band</label>
            <input type="text" class="form-control" id="validationTooltip04" placeholder="Designation"  name="designation" >
          </div>
        </div>
      </div>

      <div class="form-group"> 
        <div class="row">
          <div class="col-md-6">
            <label for="validationTooltip03">Approval Status</label>
            <input type="text" class="form-control" id="validationTooltip03" placeholder="Deaprtment"  name="department" >
          </div>
          <div class="col-md-6">
            <label for="validationTooltip04">Incurred By</label>
            <input type="text" class="form-control" id="validationTooltip04" placeholder="Designation"  name="designation" >
          </div>
        </div>
      </div>

      <button type="submit" class="close" label="Close" >
        <span aria-hidden="true">&times;</span>
      </button>
</form>