
    <style>
#container2 {
    width: 960px;
    position: relative;
    margin:0 auto;
    line-height: 1.4em;
    }
    
    @media only screen and (max-width: 479px){
        #container2 { width: 90%; }
    }
    </style>
<link rel="stylesheet" href="/stylesheets/table-sortable.css">
<script src="/scripts/table-sortable.js" ></script>
<div class="responsive" style="margin-left: 350px;">
<div class="container2">
    <form name="forgetPass" id="forgetPass" style=" align-items: center; " >
        <div class="form-group">
           <div class="row">
               <div class="col-md-6" style="margin-top: 20px;">
           <label for="ama" style="margin-left:15px ; border: 2px solid black; width:820px " ><center> <h2>Forgot Password ? </h2></center>  </label><br></br>  
               </div>
           </div>
           <div class="form-group">
              <div class="col-md-6">
             <input type="email" placeholder="Enter You Registered Email" style="height: 80px; margin-left: 140px; text-align: center;" class="form-control" id="emailPass" value="" style="text-align: center;"  name="emailPass" required="true"> <br></br>
             </div>
           </div>
        <div><button type="submit" class="btn btn-primary" id="sendMail"  style="margin-left:350px;"><center><h2>send</h2></button></center></div>
    </form>
</div>
</div>
<script>
$('#sendMail').on('click',function(event){
    
    event.preventDefault();
    event.stopPropagation();
    event.stopImmediatePropagation();
    alert('Save Button Clicked !');
    var $inputs = $('#forgetPass :input');
    var values = {};
    $inputs.each(function() {
        values[this.name] = $(this).val();
    });
    alert('formValues : '+JSON.stringify(values));
    $.ajax({
        url : '/users/salesforceEmailVeerification',
        type:'post',
        data: values,
        dataType : 'json'
    })
    .done((response) =>{
        console.log('response ::'+JSON.stringify(response));
        var val =response[0];
 //       const id = response[0].sfid;
        console.log('response val'+JSON.stringify(val));
        $.ajax({
            url : '/users/sendEMail',
            type:'post',
            data: val,
            dataType : 'json'
        })
        .done((response)=>{
            console.log('Email Send'+response);
        })
        .fail((jqXHR, status, error) => {
            console.log('jqXHR  '+JSON.stringify(jqXHR));
      })    

    })
    .fail((jqXHR, status, error) => {
          console.log('Fisrt Response Eror ');
          console.log('jqXHR  '+JSON.stringify(jqXHR));
    })


})
</script>