<% include ./partials/navbar %>
<% include ./partials/footer %>
<% include ./partials/messages %>
<p id ="parentId"><%=parentAssetId %></p>
<link rel="stylesheet" href="/stylesheets/table-sortable.css">
<script src="/scripts/table-sortable.js" ></script>

<h3 style="text-align: center; margin-top: 20px;">PROCUREMENT NON IT </h3>

<div class="container">
    <div class="row mt-5 mb-3 align-items-center">
        <div class="col-md-5">
          <!--   <a class="btn btn-primary btn-md bg-gray" href="#" id="">Create New Non It Procurement</a> -->
            <!-- <a class="btn btn-primary btn-md bg-gray" href="/procurement/getNonItProcurementListVIew/" >Refresh</a> -->
        </div>
        <div class="col-md-3">
        <input type="text" class="form-control" placeholder="Search" id="searchField" style="margin-top: 5px;">
        </div>
        <div class="col-md-2 text-right">
        <span class="pr-2">Rows Per Page:</span>
        </div>
        <div class="col-md-1">
            <div class="d-flex justify-content-end">
                <select class="custom-select" name="rowsPerPage" id="changeRows">
                    <option value="5" selected>5</option>
                    <option value="10">10</option>
                    <option value="15">15</option>
                </select>
            </div>
        </div>
 </div>

 <div id="nonItTable" class="responsive ">

 </div>

</div>

<!-- Vendor Detail Modal  -->
<div id="vendorDetModal" class="modal fade">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Vendor Detail Detail</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <div id="detailLoadingSpinners">
          <center> <img src="/spinner-gif-transparent-background-14.gif" />  </center>
      </div>
      <div class="table-responsive">
        <table id="vendorDetTable" class="table">

        </table>
      </div>
      </div>
      </div>
      <div class="modal-footer">
        <button type="sumbit" class="btn btn-danger " id="vendDetClose" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!--  DEtail Modal Start   -->

<div id="procurementModal" class="modal fade">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Procurement-Non IT Detail</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
  
         <!--  <div id="detailLoadingSpinner">
            <center> <img src="/spinner-gif-transparent-background-14.gif" />  </center>
        </div> -->

        <!-- Detail modaols  -->

        <div class="modal-body">
        <div class="row">
        <div class="col-md-12">
        <nav>
        <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
        <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Details</a>
        <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Related</a>
        </div>
        </nav>
        <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
        <!-- Non It Details --> 
        <div id="detailLoadingSpinner">
        <center> <img src="/spinner-gif-transparent-background-14.gif" /> </center>
        </div>
        <div class="table-responsive">
        <table id="procTable" class="table">
        </table>
        </div>
        <!-- Particul Non It Details-->
        </div>
        
        <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
        <div class="accordion" id="accordionExample">
        
        <div class="card">
        <div class="card-header" id="headingOne">
        <h5 class="mb-0">
        <button class="btn btn-link text-left" type="pettyCashButton"
        data-toggle="collapse" data-target="#collapseOne"
        aria-expanded="true" aria-controls="collapseOne">
        <i class="fa fa-angle-double-right mr-3"></i>Feedback
        </button>
        <!-- <button class="btn btn-primary float-right" id="pettyCashButton" >New</button> -->
       <!--  <a href="#" class="btn btn-primary float-right procurementNonIT" id="createAssetRequisitionFormButton" style="color:white;" >New</a> -->
        <a href="#" class="btn btn-primary float-right feedback" style="color:white;">New</a>
        </h5>
        </div>
       
        <div id="collapseOne" class="collapse show fade" aria-labelledby="headingOne" data-parent="#accordionExample">
                 <div style="overflow-x:auto;">
        <!-- Feedback table code -->
        <table id="feedbackTable" class="table table-hover striped">
        </table>
        <!-- Feedback table code -->
        </div>
        </div>
        </div>
        
        </div>
        </div>
        </div>
        </div>
        </div>
       
        </div>
       
        <!-- Modal footer -->
        <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>
       
        </div>
        </div>
       </div>
       
       



        <!-- end      Detail / related -->
  <!--   Edit Procurement NON IT Modal -->
  <div id="procurementEditModal" class="modal fade ">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Edit Procurement NON IT Form</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      
        <div class="modal-body" id="editModalBody" >
            <form name="editProcurement" id="editProcurement" >
             <div class="form-group">
                <div class="row">
                    <div class="col-md-6">
                      <label for="procName">Name</label>
                      <input type="text" disabled class="form-control" id="procName" value=""   name="procName" required>
                    </div>
                    
                    <div class="col-md-6">
                    <label for="vendorName">Impaneled Vendor</label>
                      <input type="text" id="vendorName" disabled class="form-control" value="" name="vendorName" required>
                    </div>
                </div>
              </div>
              
              <div class="form-group">
                <div class="row">
                    <div class="col-md-6">
                        <label for="category">Item Category</label>
                          <input type="text" disabled class="form-control" id="category" value=""   name="category" >
                        </div>

                  <div class="col-md-6">
                    <label for="item">Item </label>
                    <input type="text" disabled class="form-control" id="item" value=""   name="item" >
                  </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                  <div class="col-md-6">
                    <label for="specification">Item Specification </label>
                    <input type="text" class="form-control" id="specification" value=""   name="specification" >
                  </div>
                  
                  <div class="col-md-6">
                  <label for="quantity">Quantity </label>
                    <input type="number" class="form-control" id="quantity" value=""   name="quantity" >
                  </div>
                </div>
            </div>


              <div class="form-group">
                  <div class="row">
                    <div class="col-md-6">
                      <label for="budget">Budget </label>
                      <input type="number" class="form-control" id="budget" value=""   name="budget" >
                      </div>
                      <div class="col-md-6">
                        <input type="hidden" class="form-control" id="hide" value=""   name="hide" >
                        </div>
                  </div>     
              </div>
              <div class="modal-footer">
                  <button type="submit" class="btn btn-primary" id="editProcurementButton" data-dismiss="modal">Save</button>
                  <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
              </div>
            </form>
          </div>
       
  </div>
</div>





<script>


    $(document).ready(function(){
      $('#parentId').hide();
       

        let parentId=document.getElementById('parentId').innerHTML;
       // alert('parentId '+parentId);
    
        /**************Table Sortable Start ***********/
    
            let columns ={
                sequence : 'Sequence',
                editAction:'Action',
                name: 'Procurement Non-IT ID',
                item : 'Items',
                item_category:'Items Category',
                quantity: 'Quantity',
                budget:'Budget',
                vendor:'Impanel Vendor',
             
            }
          
          var table = $('#nonItTable').tableSortable({
                data :[],
                columns,
                searchField: '#searchField',
                sorting: true,
                rowsPerPage: 5,
                pagination:true,
                tableWillMount: () => {
                    console.log('table will mount')
                    
                },
                tableDidMount: () => {
                    console.log('table did mount');
    
                    $('#spinner').hide();
                },
                tableWillUpdate: () => {
                    console.log('table will update')
                //  table.refresh();
                // onLoadTask();
                },
                tableDidUpdate: () => {
                console.log('table did update');
                 anchorClickFunctionalities();
                 additionalEditFunctionality();
                
                },
                tableWillUnmount: () => console.log('table will unmount'),
                tableDidUnmount: () => console.log('table did unmount'),
                onPaginationChange: function(nextPage, setPage) {
                    setPage(nextPage);
                },
            
            });
    
            /**************Table Sortable End ***********/
    
            $('#changeRows').on('change', function() {
            table.updateRowsPerPage(parseInt($(this).val(), 10));
            })
    
        /    $('#refresh').click(function() {
                table.refresh(true);
                onLoadTask();
            })
    
           $.ajax({
                url : '/procurement/NonItProcurementList',
                type:'get',
                data:{parentId:parentId},
                dataType: 'json'
           })
           .done((response) => {
               console.log('response NON IT : '+JSON.stringify(response));
               table.setData(response, columns);
               anchorClickFunctionalities();
              
              
            })
          .fail((jqXHR, status, error) =>{
              console.log('jqXHR  : '+JSON.stringify(jqXHR));
              console.log('error  : '+error);
            })
        })

        function anchorClickFunctionalities(){
            $('a.procurementTag').on('click',function(event){
                event.stopImmediatePropagation();
                event.stopPropagation();
                let procurementId = this.id;
                alert('Non It Procurement ID=>'+procurementId);
           
            $('#procurementModal').modal('show');
            $.ajax({
                url : '/procurement/getProcurementDetail',
                type:'get',
                data : {
                    procurementId : procurementId
                },
                dataType: 'json',
                beforeSend : function(){
                  $('#detailLoadingSpinner').show();
                }
            })
            .done((response)=>{
                $('#detailLoadingSpinner').hide();
                console.log('response from the Procurement Tab;e Ajax '+JSON.stringify(response));
                if(response.proc.length>0){
                    let record = response.proc[0];
                              let htmlTable = '';
                              htmlTable += '<tr>';
                                htmlTable += '<td><strong>Procurement_Non-IT ID</strong></td>';
                                htmlTable += '<td>'+record.procname+'</td>';
                                htmlTable += '<td><strong>Impaneled Vendor</strong></td>';
                              //  htmlTable += '<td>'+'<a href="#" class="vendorDetTag" id="'+record.impaneled_vendor__c+'" >'+record.vendorname+'</a>'+'</td>';
                                htmlTable += '<td>'+'<a href="#" class="vendorDetTag" id="'+record.impaneled_vendor__c+'" >'+record.vendorname+'</a>'+'</td>';
                         
                                htmlTable += '</tr>';
                            htmlTable += '<tr>';
                                htmlTable += '<td><strong>Item Category</strong></td>';
                                htmlTable += '<td>'+record.products_services_name__c+'</td>';
                                htmlTable += '<td><strong>Item</strong></td>';
                                htmlTable += '<td>'+record.items__c+'</td>';
                            htmlTable += '</tr>';
                            htmlTable += '<tr>';
                                htmlTable += '<td><strong>Quantity</strong></td>';
                                htmlTable += '<td>'+record.quantity__c+'</td>';
                                htmlTable += '<td><strong>Budget</strong></td>';
                                htmlTable += '<td>'+record.budget__c+'</td>';
                            htmlTable += '</tr>';
                             htmlTable += '<tr>';
                                htmlTable += '<td><strong>Item Specification</strong></td>';
                                htmlTable += '<td>'+record.product_service__c+'</td>';
                                htmlTable += '<td><strong>Other Items</strong></td>';
                                htmlTable += '<td>'+record.others__c+'</td>';
                            htmlTable += '</tr>';
                            htmlTable += '<tr>';
                              htmlTable += '<td><strong>Number Of Quotes</strong></td>';
                      htmlTable += '<td>'+record.number_of_quotes__c+'</td>';
                              htmlTable += '<td><strong>State</strong></td>';
                              htmlTable += '<td>'+record.state__c+'</td>';
                          htmlTable += '</tr>';
                          htmlTable += '<tr>';
                            htmlTable += '<td><strong>Quote1</strong></td>';
                            if(record.quote1__c!="demo1"){
                              htmlTable += '<td>'+'<a href="'+record.quote1__c+'" target="_blank">Click to View Quote</a></td>';
                              }
                              else{
                                htmlTable +='<td></td>';
                              }
                            htmlTable += '<td><strong>District</strong></td>';
                            htmlTable += '<td>'+record.district__c+'</td>';
                        htmlTable += '</tr>';
                        htmlTable += '<tr>';
                          htmlTable += '<td><strong>Quote2</strong></td>';
                          if(record.quote2__c!="demo2"){
                            htmlTable += '<td>'+'<a href="'+record.quote2__c+'" target="_blank">Click to View Quote</a></td>';
                            }
                            else{
                              htmlTable +='<td></td>';
                            }
                          htmlTable += '<td><strong>quote3</strong></td>';
                          if(record.quote3__c!="demo3"){
                            htmlTable += '<td>'+'<a href="'+record.quote3__c+'" target="_blank">Click to View Quote</a></td>';
                            }
                            else{
                              htmlTable +='<td></td>';
                            }
                      htmlTable += '</tr>';
                      htmlTable += '<tr>';
                        htmlTable += '<td><strong>Unit</strong></td>';
                        htmlTable += '<td>'+record.unit__c+'</td>';
                        htmlTable += '<td><strong>Per Unit Cost</strong></td>';
                        htmlTable += '<td>'+record.per_unit_cost__c+'</td>';
                    htmlTable += '</tr>';
                    htmlTable += '<tr>';
                      htmlTable += '<td><strong>Justification</strong></td>';
                      htmlTable += '<td>'+record.justification__c+'</td>';
                      htmlTable +='<td></td>';
                      htmlTable +='<td></td>';
                      
                  htmlTable += '</tr>';
                            $('#procTable').empty();
                            $('#procTable').html(htmlTable);
                }
                vendorDetailFunction();
                createFeedback(procurementId);
                if(response.feedback.length>0){
                  let ftable='';
                  ftable +='<thead><th>Feedback Name</th><th>Quantity Requested vs Received</th><th>Timely submissions of all Deliverables</th><th>Work Quality/Goods Quality</th><th>Issue Knowledge/ Expertise</th>';
                  response.feedback.forEach((eachRecord)=>{
                    ftable +='<tr>';
                      ftable +='<td>'+eachRecord.name+'</td>';
                      ftable +='<td>'+eachRecord.quantity_requested_vs_received__c+'</td>';
                      ftable +='<td>'+eachRecord.timely_submissions_of_all_deliverables__c+'</td>';
                      ftable +='<td>'+eachRecord.work_quality_goods_quality__c+'</td>';  
                      ftable +='<td>'+eachRecord.issue_knowledge_expertise__c+'</td>';
                    ftable +='</tr>';
                  })
                  ftable+=  '<td colspan="6"><center><a target="_blank" href="/procurement/getfeedback/'+procurementId+'">View All</a></centre></td>';
                  $('#feedbackTable').empty();
                    $('#feedbackTable').html(ftable);
                }
            })
            .fail((jqXHR, status, error) =>{
                $('#detailLoadingSpinner').show();
                console.log('jqXHR  : '+JSON.stringify(jqXHR));
                console.log('error  : '+error);
              })
            })    
        }
        function createFeedback(proid){
         // alert('procId'+proid);
          $('a.feedback').click(() => {
            console.log('proccurement id '+proid);
            location.assign('/procurement/createFeedback/'+proid);
        });
        }

        function vendorDetailFunction(){
          $('a.vendorDetTag').on('click',function(event){
            event.stopPropagation();
            event.stopImmediatePropagation();
            let vendorId = this.id;
            alert('vendor id '+vendorId);
            //location.href = "/procurement/getVondor/"+vendorId;  
            location.href = "/procurement/getvendorListView/";           
        })
      }


    /* function vendorDetailFunction(){
          $('a.vendorDetTag').on('click',function(event){
            event.preventDefault();
                      event.stopPropagation();
                      event.stopImmediatePropagation();
                      let vendorDetId= this.id;
                      alert('Venndor Button Clicked !'+vendorDetId);
                      //$('#procurementModal').modal('hide');
                      $('#vendorDetModal').modal('show');
                      $('#detailLoadingSpinners').modal('show'); 
                      $.ajax({
                          url : '/procurement/getVendorDetail',
                          type:'get',
                          data : {
                            vendorId : vendorDetId
                          },
                          dataType: 'json',
                          beforeSend : function(){
                            $('#detailLoadingSpinners').show();
                          }
                      })
                      .then((data)=>{
                        $('#detailLoadingSpinners').hide();
                        console.log('reponse fro Vendoe DEtail Modal Ajax '+JSON.stringify(data));
                        if(data.VendorDetail.length>0)
                       {
                    console.log('Inside Vendor Details'); 
                        let vendorDetailRow = '';
                        data.VendorDetail.forEach((eachRecord) => {
                            vendorDetailRow += '<tr>';
                            vendorDetailRow += '<td colspan="4" style="background-color:#d3d3d3;"><h5>Item Metrics</h5></td>';    
                            vendorDetailRow += '</tr>';

                                vendorDetailRow += '<tr>';
                                    vendorDetailRow += '<td><strong>Impaneled Vendor ID<strong></td>';
                                    vendorDetailRow += '<td>'+eachRecord.name+'</td>';
                                    vendorDetailRow += '<td><strong>  State<strong></td>';
                                        vendorDetailRow += '<td>'+eachRecord.state__c+'</td>';
                                vendorDetailRow += '</tr>'; 

                                vendorDetailRow += '<tr>';
                                    vendorDetailRow += '<td><strong>District<strong></td>';
                                    vendorDetailRow += '<td>'+eachRecord.district__c+'</td>';
                                    vendorDetailRow += '<td><strong> Vendor Name<strong></td>';
                                        vendorDetailRow += '<td>'+eachRecord.vendor_name__c+'</td>';
                                vendorDetailRow += '</tr>';
                                vendorDetailRow += '<tr>';
                    
                                vendorDetailRow += '<tr>';
                                    vendorDetailRow += '<td><strong>Name of Signing Authority <strong></td>';
                                    vendorDetailRow += '<td>'+eachRecord.name_of_signing_authority__c+'</td>';
                                    vendorDetailRow += '<td><strong>Contact no.<strong></td>';
                                    vendorDetailRow += '<td>'+eachRecord.contact_no__c+'</td>';
                                vendorDetailRow += '</tr>';
                                vendorDetailRow += '<tr>';

                                    vendorDetailRow += '<tr>';
                                        vendorDetailRow += '<td><strong> Bank Detail <strong></td>';
                                        vendorDetailRow += '<td>'+eachRecord.bank_details__c+'</td>';
                                        vendorDetailRow += '<td><strong> Bank IFSC Code<strong></td>';
                                        vendorDetailRow += '<td>'+eachRecord.bank_ifsc_code__c+'</td>';
                                    vendorDetailRow += '</tr>';
                                    vendorDetailRow += '<tr>';

                                vendorDetailRow += '<tr>';
                                    vendorDetailRow += '<td><strong>PAN<strong></td>';
                                    vendorDetailRow += '<td>'+eachRecord.pan_no__c+'</td>';
                                    vendorDetailRow += '<td><strong>Address<strong></td>';
                                    vendorDetailRow += '<td>'+eachRecord.address__c+'</td>';
                                vendorDetailRow += '</tr>';
                                vendorDetailRow += '<tr>';
                                    vendorDetailRow += '<td><strong>  Bank Account No.<strong></td>';
                                    vendorDetailRow += '<td>'+eachRecord.bank_account_no__c+'</td>';
                                    vendorDetailRow += '<td><strong> Owner<strong></td>';
                                    vendorDetailRow += '<td>'+eachRecord.ownerid+'</td>';
                                vendorDetailRow += '</tr>';
                                vendorDetailRow += '<tr>';
                                    vendorDetailRow += '<td><strong>Others/etc<strong></td>';
                                    vendorDetailRow += '<td>'+eachRecord.others__c+'</td>';
                                    vendorDetailRow += '<td><strong>Quote Public URL<strong></td>';
                                        vendorDetailRow += '<td>'+eachRecord.quote_public_url__c+'</td>';
                                vendorDetailRow += '</tr>'; 
                                vendorDetailRow += '<tr>';
                                        vendorDetailRow += '<td><strong>GST No.<strong></td>';
                                        vendorDetailRow += '<td>'+eachRecord.gst_no__c+'</td>';
                                vendorDetailRow += '</tr>';
                                    $('#vendorDetTable').html(vendorDetailRow);

                        })
                }

                      })
                      .fail((jqXHR, status, error) =>{
                        $('#detailLoadingSpinners').show();
                        console.log('jqXHR  : '+JSON.stringify(jqXHR));
                        console.log('error  : '+error);
                      })
                      
          })
        }

*/



        function additionalEditFunctionality(){
            $('.editProcurement').on('click',function(event){
                event.stopPropagation();
                event.stopImmediatePropagation();
                let procurementId = this.id;
                alert('procurementEditModal ID=>'+procurementId);
                $('#procurementEditModal').modal('show'); 
                $.ajax({
                    url : '/procurement/getProcurementDetail',
                    type:'get',
                    data : {
                        procurementId : procurementId
                    },
                    dataType: 'json',
                    beforeSend : function(){
                    $('#detailLoadingSpinner').show();
                    }
                })
                .then((response)=>{
                    $('#detailLoadingSpinner').hide();
                    console.log('detail from Ajax Eidt Prrocement NON IT'+JSON.stringify(response));
                    let procDetail=response.proc[0];
                    console.log('procurementDetail'+JSON.stringify(procDetail));
                    document.forms["editProcurement"]["procName"].value = procDetail.procname;
                    document.forms["editProcurement"]["vendorName"].value = procDetail.vendorname;
                    document.forms["editProcurement"]["item"].value = procDetail.items__c;
                    document.forms["editProcurement"]["category"].value = procDetail.products_services_name__c;
                    document.forms["editProcurement"]["specification"].value = procDetail.product_service__c;
                    document.forms["editProcurement"]["quantity"].value = procDetail.quantity__c;
                    document.forms["editProcurement"]["budget"].value = procDetail.budget__c;
                    document.forms["editProcurement"]["hide"].value = procDetail.sfid;
                })
                .fail((jqXHR, status, error) =>{
                    $('#detailLoadingSpinner').show();
                    console.log('jqXHR  : '+JSON.stringify(jqXHR));
                    console.log('error  : '+error);
                  })
            })
            $('#editProcurementButton').on('click',function(event){

                event.preventDefault();
                          event.stopPropagation();
                          event.stopImmediatePropagation();
                          alert('Save Button Clicked !');
                          var $inputs = $('#editProcurement :input');
      
                          // not sure if you wanted this, but I thought I'd add it.
                          // get an associative array of just the values.
                          var values = {};
                          $inputs.each(function() {
                              values[this.name] = $(this).val();
                              console.log('fomvalues=> '+JSON.stringify(values));
                          });
                          alert('formValues : '+JSON.stringify(values));
                          $.ajax({
                            url : '/procurement/updateProcurement',
                            type:'post',
                            data: values,
                            dataType : 'json'
                        })
                        .done((response) => {
                              console.log('resonse   :'+response);
                              
                        })
                        .fail((jqXHR, status, error) => {
                              console.log('jqXHR  '+JSON.stringify(jqXHR));
                              if(jqXHR.responseText=='Success')
                              {
                                alert('succesfully save ');
                                $('#procurementEditModal').modal('hide');
                              }
                        })                        
             })      
        }

</script>
    
