<!DOCTYPE html>
<html>
  <head>
    <title>Partner Management</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/home.css"/>
    <script>
      var replaceClass = document.getElementsByClassName('container');
      replaceClass[0].className = 'container-fluid';
    </script>
   </head>
</html>
<body>
      <header>
        <div class="main">
          <ul>
              <li><a href="users/login">Login</a></li>
          </ul>
          <center><h1></h1></center>
        </div>
      </header>
</body>

