<head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
       <!--  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" /> -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>  
</head>
<style>
  #formdata .form-control {
    width: auto;
    } 
  </style> 

<% include ./partials/messages %>
    
       <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <a class="navbar-brand" href="#">LLF</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/expense/">Expense</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="/procurement/">Procurement</a>
            </li>
          <!-- <li class="nav-item">
            <a class="nav-link" href="/users/timesheet">Timesheet</a>
          </li> -->
          <li class="nav-item">
            <a class="nav-link" href="/users/timesheet">Timesheet</a>
          </li>
          
          <!-- <li class="nav-item">
              <a class="nav-link" href="/users/timesheet">Image Upload</a>
          </li> -->
          <li class="nav-item dropdown" style="margin-left: 800px;">
            <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-4" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false">
              <i class="fas fa-user "></i>&nbsp; <%= name%> </a>
            <div class="dropdown-menu dropdown-menu-right dropdown-info" aria-labelledby="navbarDropdownMenuLink-4">
              <a class="dropdown-item" href="/users/logout">Log out</a>
            </div>
          </li>
        </ul>
        
      </div>
     </nav>
    
      <div class="container-fluid">
       <br />
       <h3 align="center">Procuremnet Non-IT</h3>
       <br />
       <div class="">
        <div id="errorMessages"></div>
       <form method="post" action="/insertprecash" id="formdata"  enctype="multipart/form-data">
        <div class="table-responsive">
         <span id="error"></span>
         <table class="table table-bordered" id="item_table">
          <tr>
            <th>SR. NO</th>
            <th>State</th>
            <th>DISTRICT</th>
            <th>ITEM CATEGORY</th>
            <th>ITEMS</th>
            <th>OTHER ITEMS</th>
            <th>VENDOR PICKLIST</th>
            <th>COST PER UNIT ITEM</th>
            <th>UNIT</th>
            <th>VENDOR GST NUMBER</th>
            <th>ITEMS SPECIFICATION</th>
            <th>QUANTITY</th>
            <th>BUDGET</th>
            <th>PREVIEW </th>
            <th>ATTACH QUOTE1</th>
            <th>ATTACH QUOTE2</th>
            <th>ATTACH QUOTE3</th>
            <th>QUOTE COUNT</th>
           <th>JUSTIFICATION</th> 
            

            
           <th><button type="button" style="background-color:#2C3E50;" name="add" class="btn btn-success btn-sm add"><span class="glyphicon glyphicon-plus"></span></button></th>
           <th style="display:none;"></th>
           <th style="display:none;"></th>
          </tr>
         </table>
         <div align="center">
        
          <input type="submit" style="background-color:#2C3E50;" name="submit" class="btn btn-info" value="Submit" />
         </div>
       </form>
       </div>
      </div>

    
    
    <script>

       let st =["Andhra Pradesh","Arunachal Pradesh","Assam","Bihar","Chhattisgarh","Goa","Gujarat","Haryana","Himachal Pradesh",
                  "Jharkhand", "Karnataka","Kerala","Madhya Pradesh","Maharashtra","Manipur","Meghalaya","Mizoram","Nagaland","Odisha",
                  "Punjab","Rajasthan","Sikkim","Tamil Nadu","Telangana","Tripura", "Uttar Pradesh","Uttarakhand","West Bengal"];
       let dstrUP=["Noida","Ghaziabad","Kanpur Nagar","Kanpur Dehat","Unnao"];
       let dstrUK=["Almora","Bageshwar","Chamoli","Champawat","Dehradun","Haridwar","Nainital","Pauri Garhwal","Pithoragarh"];

        var itemsCategory = [ "Stationery", "Printing", "Electrical", "Events", "MaterialsOnRent", "Miscellaneous"];
        var Stationery = ["A4 Size Paper Rim", "Pen", "Pencil", "Sharpner", "Eraser", "Markers", "Files", "White", "Magnetic Board", "Other Items"];
        var Printing = ["Books", "Brochures", "Leaflets", "Binding", "Posters", "Backdrop", "Standees", "Caps", "Certificates", "Other Items"];
        var Electrical = ["Lights", "UPS", "Inverter", "Battery", "Extension Board", "Heater", "Fans", "Other Items"];
        var Events = ["Suggested Hostels", "Other Items"];
        var MaterialsOnRent = ["Projector", "AV Systems", "Hardware Peripherals", "Other Items"];
        var Miscellaneous = ["Maintenance", "Any Other Expense"];
        
        var subListValue="";
        var sts='';
        var dstr='';

    $(document).ready(function(){
     var count = 1
     var lstObjects = [];
     $(document).on('click', '.add', function(){
        var cnt = count++;
        qt=0;
        var html = '';
        html += '<tr>';
        html += '<td>'+cnt+'</td>';

        html += '<td><select id="state'+cnt+'" name="state" class="form-control item_unit"><option value="">Select</option></select></td>';
        html += '<td><select id="district'+cnt+'" name="district" class="form-control item_unit" ><option value="">Select</option></select></td>';
        html += '<td><select name="itemsCategory" id="cat'+cnt+'" class="form-control item_unit itemsCategory"><option value="">Select</option></select></td>';
        html += '<td><select name="items" id="'+cnt+'" class="form-control item_unit items"><option value="">Select</option></select></td>';
        html += '<td><input type="text" name="otherItems" id="other'+cnt+'" readonly="true" class="form-control" /></td>';
        html += '<td><select id="vendor'+cnt+'" name="vendor" class="form-control item_unit"><option value="">Select</option></select></td>';    
        html +='<td><input id="unitCost'+cnt+'" type="text" name="unitCost" class="form-control" readonly="true"  /></td>';
        html +='<td><input id="unit'+cnt+'" type="text" name="unit" class="form-control" readonly="true"  /></td>';  
        html +='<td><input id="gst'+cnt+'" type="text" name="gst" class="form-control" readonly="true"  /></td>';
        html += '<td><input type="text" name="itemSpecification" class="form-control" /></td>';
        html += '<td><input type="number" name="quantity" class="form-control" /></td>';
        html += '<td><input type="number" name="budget" class="form-control" /></td>';
        html += '<td><a id="quote'+cnt+'" target="_blank" href="#" >No Quotes Available</a></td>';
        html += '<td><input type="file" onChange="chkFile1(this,'+cnt+')" name="fileprety" id="fileprety" class="form-control" /><input type="hidden" value="demo1" name="imgpath1" id="file_1'+cnt+'"></td>';
        html += '<td><input type="file" onChange="chkFile2(this,'+cnt+')" name="fileprety" id="fileprety" class="form-control" /><input type="hidden" value="demo2" name="imgpath2" id="file_2'+cnt+'"></td>';
        html += '<td><input type="file" onChange="chkFile3(this,'+cnt+')" name="fileprety" id="fileprety" class="form-control" /><input type="hidden" value="demo3" name="imgpath3" id="file_3'+cnt+'"></td>';
        html += '<td><input type="number" id="qtNo'+cnt+'" name="quoteNum" class="form-control" value="0" readonly="true" /></td>';
        html += '<td><input type="text" name="justification" id="justification'+cnt+'" class="form-control" /></td>';
        
       // html += '<td style="display:none;"><input type="hidden" id="qt'+cnt+'" name="quoteNum" class="form-control" /></td>';
        //    html += '<td style="display:none;"><input id="impId'+cnt+'" type="hidden" name="impaneledVendorId" value="" class="form-control" /></td>';
        html += '<td style="display:none;"><input  type="hidden" name="parentProcurementId" value="<%= parentAssetId %>" class="form-control" /></td>';
        html += '<td><button type="button" name="remove" class="btn btn-danger btn-sm remove"><span class="glyphicon glyphicon-minus"></span></button></td></tr>';
        
        $('#item_table').append(html);

        if(st.length > 0)
        {
          for(let i=0; i < st.length; i++)
          {
            $('#state'+cnt)
            .append($("<option></option>")
            .attr("value",st[i])
            .text(st[i]))
          }
        }
        $('#state'+cnt).on('change',function(){
           let state =this.value;
           sts=state;
           alert("selcted"+sts);
           let select = document.getElementById("district"+cnt);
           let length = select.options.length;
           for (i = length-1; i > 0; i--) {
             select.options[i] = null;
            }
         //  alert('You Choose'+state);
           if(state=='Uttar Pradesh')
           {
            $('#district'+cnt).attr("disabled",false);
            alert('You Choose=> '+state);
             for(let i=0; i <dstrUP.length; i++)
             {
              $('#district'+cnt)
              .append($("<option></option>")
              .attr("value",dstrUP[i])
              .text(dstrUP[i]))
             }
           }
            else if(state=='Uttarakhand')
           {
            alert('You Choose=> '+state);
            $('#district'+cnt).attr("disabled",false);
            $('#district'+cnt).clearQueue();
             for(let i=0; i <dstrUK.length; i++)
             {
              $('#district'+cnt)
              .append($("<option></option>")
              .attr("value",dstrUK[i])
              .text(dstrUK[i]))
             }
           }
           else{
            $('#district'+cnt).attr("disabled",true);
           }
           $('#district'+cnt).on('change',function(){
            dstr=this.value;
            alert('District choose =>'+dstr);
          })           
        })




        var lstVendorDetail=[]; let itVal=''; let sid='';
        $('#vendor'+cnt).on('change',function(){
          alert('quoted Ref=>'+lstVendorDetail[0].quote_public_url__c);
         
          let sif =this.value;
          console.log('sfidSelected = '+sif);
          let gstNo=document.getElementById('gst'+cnt);
          lstVendorDetail.forEach((each)=>{
           if(each.sfid==sif){
            gstNo.value=each.gst_no__c;
            sid=each.sfid;
          //  $('#quote'+cnt)
           // .attr("href",each.quote_public_url__c)
           // .text('Available Quote');

           }
          })
          $.ajax({
            url : '/procurement/getCostPerUnit',
            type : 'get',
            data: {sid:sid},
            dataType : 'json'
          })
          .done((response)=>{
            console.log('response '+JSON.stringify(response));
            if(response.length>0){
              response.forEach((each)=>{
                if(each.items__c==itVal){
                  let unCost=document.getElementById('unitCost'+cnt);
                  unCost.value=each.per_unit_cost__c;
                  //alert('unit for Item'+each.unit__c);
                  let itemUnit=document.getElementById('unit'+cnt);
                  itemUnit.value=each.unit__c;
                  if(each.public_quote_url__c){
                    $('#quote'+cnt)
                     .attr("href",each.public_quote_url__c)
                     .text('Available Quote'); 
                    }  
                    else{
                      $('#quote'+cnt)
                      .attr("href",each.public_quote_url__c)
                      .text('No Quote Available'); 
                    } 
      
                }
              })
            }
          })
          .fail((jqXHR,text,err) => {
            console.log('jqXHR  '+JSON.stringify(jqXHR));
            console.log('err  '+err + 'text  : '+text);
        })
        })




        let itemsCategoryValue, itemValue, placeValue, impaneledVendorId = '';
        for(i=0;i<itemsCategory.length;i++)
        {
           $('#cat'+cnt)
                   .append($("<option></option>")
                   .attr("value",itemsCategory[i])
                   .text(itemsCategory[i]));		
        }
        
        $('#cat'+cnt).on('change', function() {
               $('#'+cnt).empty();
               itemsCategoryValue = this.value;
               subListValue = eval(this.value); 
             //  alert('subListValue  '+subListValue);
               for(i=0;i<subListValue.length;i++)
               {
                
                 $('#'+cnt)
                   .append($("<option></option>")
                   .attr("value",subListValue[i])
                   .text(subListValue[i]));		
              }

              $('#'+cnt).on('change', function() {
                  itVal=this.value;
                  if(itVal=='Other Items'){
                    $('#other'+cnt).attr("readonly",false);
                  }
                   itemValue = this.value;
                  // alert('your Choose'+itemValue);
                      console.log('District  : '+dstr+' state  : '+sts+' item : '+itemValue);
                      var data =[];
                      let filtervalues={};
                          filtervalues.state=sts;
                          filtervalues.district=dstr;
                          filtervalues.item=itemValue;
                          data.push(filtervalues);
                          console.log(JSON.stringify(data));
                      
                      $.ajax({
                        url : '/procurement/getCostandGSt',
                        type : 'get',
                        data: { data:data },
                        dataType : 'json'
                      })
                      .done((response) => {
                        console.log('Vendor ResultData '+JSON.stringify(response));
                        console.log('length '+response.length);
                        console.log('dgsdh '+response[0].vendor_name__c);
                        let select = document.getElementById("vendor"+cnt);
                        let length = select.options.length;
                        for (i = length-1; i > 0; i--) {
                          select.options[i] = null;
                         }
                          for(let i=0;i<response.length;i++)
                          {
                            $('#vendor'+cnt)
                            .append($("<option></option>")
                            .attr("value",response[i].sfid)
                            .text(response[i].vendor_name__c))
                            lstVendorDetail.push(response[i]);
                          }
                          console.log('lstVendorDetail=> '+JSON.stringify(lstVendorDetail));
                          
                      })
                      .fail((jqXHR,text,err) => {
                          console.log('jqXHR  '+JSON.stringify(jqXHR));
                          console.log('err  '+err + 'text  : '+text);
                      })
                  });
        });


      /*
        $('#imp'+cnt).on('click',function(){
            console.log('this.value  : '+this.checked);
            if(this.checked == true)
            {
                $('#impId'+cnt).attr("value",impaneledVendorId);
            }
            else
            {
                $('#impId'+cnt).attr("value","");
            }
        })
      */

     });
   
     $(document).on('click', '.remove', function(){
        $(this).closest('tr').remove();
        qt=0;
     });

  });

    
    
    $(function () {
      $('form#formdata').bind('submit', function () {
      
       // alert('qt'+qt);
          $.ajax({
            type: 'post',
            url: '/procurement/nonItProducts',   // Need to make changes in post method url
            data:$('form#formdata').serialize(),
            success: function (data) {
              console.log(data);
             // alert(data);
              let errorHtml = '<div class="alert alert-danger alert-dismissible fade show" role="alert">'+ data+
                '<button type="button" class="close" data-dismiss="alert" aria-label="Close">'+
                  '<span aria-hidden="true">&times;</span>'+
                '</button>'+
              '</div>';
              $('#errorMessages').empty();
              $('#errorMessages').append(errorHtml); 
            }
          });
   //     var qt1=document.getElementById('file_1'+cnt).value();
        return false;
      });
    });
    function chkFile1(file1,id) {
      var file = file1.files[0];
      var formData = new FormData();
      formData.append('formData', file);  
      $.ajax({
      type: "POST",
      url: "/expense/uploadImage",    
      cache: false,
      dataType:'json',
      processData: false,
      contentType: false,
      data: formData,
      success: function (data) {
        console.log(data);
        $('#file_1'+id).val(data.url);
        let qtHTML=$('#qtNo'+id).val();
        qtHTML++;
        console.log('from upload 1'+qtHTML)
        $('#qtNo'+id).val(qtHTML);
        console.log('qt'+qtHTML);
       if(qtHTML==3)
       {
        $('#justification'+id).attr("disabled",true);
       }
       
       }
    });
  }

  function chkFile2(file1,id) {
    var file = file1.files[0];
    var formData = new FormData();
    formData.append('formData', file);

    $.ajax({
    type: "POST",
    url: "/expense/uploadImage",    
    cache: false,
    dataType:'json',
    processData: false,
    contentType: false,
    data: formData,
    success: function (data) {
      console.log(data);
     $('#file_2'+id).val(data.url);
     let qtHTML=$('#qtNo'+id).val();
     qtHTML++;
     console.log('from upload'+qtHTML)
     $('#qtNo'+id).val(qtHTML);
     console.log('qt'+qtHTML);
     if(qtHTML==3)
     {
      $('#justification'+id).attr("disabled",true);
     }
     }
  });
}
function chkFile3(file1,id) {
  var file = file1.files[0];
  var formData = new FormData();
  formData.append('formData', file);

  $.ajax({
  type: "POST",
  url: "/expense/uploadImage",    
  cache: false,
  dataType:'json',
  processData: false,
  contentType: false,
  data: formData,
  success: function (data) {
    console.log(data);
  //  var result = JSON.stringify(data)
  $('#file_3'+id).val(data.url);
  let qtHTML=$('#qtNo'+id).val();
  qtHTML++;
  console.log('from upload'+qtHTML)
  $('#qtNo'+id).val(qtHTML);
  console.log('qt'+qtHTML);  
   if(qtHTML==3)
   {
    $('#justification'+id).attr("disabled",true);
   }
   }
});
}
    
</script>