<form name="savepassword" id="savepassword" style="margin-left: 600px; margin-top:50px; " >
    <div class="form-group">
       <div class="row">
           <div class="col-md-6">
             <label for="ama" style="margin-left:15px ; border: 2px solid black; width:820px" ><h2 style="margin-left: 200px;">Enter Your Password</h2></label><br></br>  
           </div>
       </div>
       <div class="form-group">
        <div class="col-md-6">
           <input type="text" placeholder="Enter yor new password" style="height: 80px;" class="form-control" id="pass" value=""   name="pass" required="true"><br></br>
       </div>
     </div>
     <div class="form-group">
        <div class="col-md-6">
           <input type="text" placeholder="Enter same password again" style="height: 80px;" class="form-control" id="pass2" value=""   name="pass2" required="true"><br></br>
       </div>
     </div>
  <div><button type="submit" class="btn btn-primary" id="savePass"  style="margin-left:300px;"><h2>save</h2></button></div>
</form>
<p id = 'contactID'><%=userId %></p>
<script>
    $(document).ready(function(){
        $('#contactID').hide();
    $('#savePass').on('click',function(event){
        alert('passis saving');
        $('#contactID').hide();
        let ids =document.getElementById('contactID').innerHTML;
        alert(ids);
        var $inputs = $('#savepassword :input');
        var values = {};
        $inputs.each(function() {
            values[this.name] = $(this).val();
            console.log('password '+values);
            values.user =ids;
            console.log('password ids'+values);
        });
        $.ajax({
            url : '/users/updatePass',
            type:'post',
            data: values,
            dataType : 'json'
        })
        .done((response)=>{
            console.log('updated succesfuly');
        })
        .fail((jqXHR, status, error) => {
            console.log('jqXHR  '+JSON.stringify(jqXHR));
      })   
    })
})
</script>