<% include ../../partials/navbar %>
<% include ../../partials/messages %>
<% include ../../partials/footer %>



<link rel="stylesheet" href="/stylesheets/table-sortable.css">
<script src="/scripts/table-sortable.js" ></script>

<h3 style="text-align: center; margin-top: 20px;">Boarding and Lodging</h3>
<p1 id='tourbillId'><%=tourbillId%></p1>
<div class="container">
    <div class="row mt-5 mb-3 align-items-center">
        <div class="col-md-5">
            <a href="/expense/tourBillClaim/boardingLodgingCharges/<%= tourbillId %>" class="btn btn-primary"  style="color:white;" >Create New</a>
           <!--  <button class="btn btn-primary btn-md bg-gray"  id="AirBustour">New Boarding/Loadging Expense</button>
            <button class="btn btn-primary btn-md" id="refresh">Refresh</button> -->
        </div>
        <div class="col-md-3">
        <input type="text" class="form-control" placeholder="Search" id="searchField" style="margin-top: 5px;">
        </div>
        <div class="col-md-2 text-right">
        <span class="pr-2">Rows Per Page:</span>
        </div>
        <div class="col-md-1">
            <div class="d-flex justify-content-end">
                <select class="custom-select" name="rowsPerPage" id="changeRows">
                    <option value="5" selected>5</option>
                    <option value="10">10</option>
                    <option value="15">15</option>
                </select>
            </div>
        </div>
    </div>
    
    <div id="BoardingLodginTable" class="responsive " class="row mt-5 mb-3 align-items-center">
    
    </div>
    
    </div>
    <div id="boardingModal" class="modal modal-md fade">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Boarding &amp; Lodging View </h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
      
              <div id="detailLoadingSpinner">
                <center> <img src="/spinner-gif-transparent-background-14.gif" />  </center>
            </div>
            <table id="boardingTable" class="table">
    
            </table>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
      

   <!-- Conveyance Charge Edit Modal  Start -->

   <div id="boardingEditModal" class="modal fade ">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Boarding &amp; Lodging View</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      
        <div class="modal-body" id="editModalBody" >
            <form name="editBoardingForm" id="editBoardingForm" >
             <div class="form-group">
                <div class="row">
                    <div class="col-md-6">
                      <label for="boardingLoadingName">Name</label>
                      <input type="text" disabled class="form-control" id="boardingLoadingName" value=""   name="boardingLoadingName" required>
                    </div>
                    
                    <div class="col-md-6">
                    <label for="tourName">TourBill Name</label>
                      <select id="tourName" class="custom-select custom-select-sm form-control" name="tourName">
                        
                      </select>
                    </div>
                </div>
              </div>
              

              <div class="form-group">
                  <div class="row">            
                    <div class="col-md-6">
                    <label for="placeofJorney">Place Of Journey</label>
                      <input type="text" class="form-control" id="placeofJorney" value=""   name="placeofJorney" >
                    </div>

                    <div class="col-md-6">
                        <label for="stayOption">Stay Option</label>
                          <input type="text" class="form-control" id="stayOption" value=""   name="stayOption" >
                        </div>
                  </div>
              </div>
              
              <div class="form-group">
                  <div class="row">
                    <div class="col-md-6">
                        <label for="amount">Amount</label>
                        <input type="number" disabled class="form-control" id="amount" value=""   name="amount" >
                        </div>
                        
                        <div class="col-md-6">
                            <label for="stayDay">Numbey Of Day Stay</label>
                            <input type="number" class="form-control" id="stayDay" value=""   name="stayDay" >
                            </div>
                            <div class="col-md-6">
                              <input type="hidden" class="form-control" id="hide" value=""   name="hide" >
                             </div>
                  </div>     
              </div>
              <div class="modal-footer">
                  <button type="submit" class="btn btn-primary" id="editAirBusChargeButton" data-dismiss="modal">Save</button>
                  <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
              </div>
            </form>
          </div>
       
  </div>
</div>

<!-- Conveyance Charge Edit Modal  End -->



<script>
    $(document).ready(function(){
        $('#tourbillId').hide();
        let tourbillId=document.getElementById('tourbillId').innerHTML;
       // alert(tourbillId);
        let columns ={
            sequence : 'Sequence',
            editAction : 'Edit',
            name: 'Boarding/Loading Name ',
            place : 'Place Of Journey',
            from:'From Date',
            amount : 'Amount',
            to:'To Date',
            createDdate : 'Created Date'
        }

        
      var table = $('#BoardingLodginTable').tableSortable({
        data :[],
        columns,
        searchField: '#searchField',
        sorting: true,
        rowsPerPage: 5,
        pagination:true,
        tableWillMount: () => {
            console.log('table will mount')
            
        },
        tableDidMount: () => {
            console.log('table did mount');

            $('#spinner').hide();
        },
        tableWillUpdate: () => {
            console.log('table will update')
        //  table.refresh();
        // onLoadTask();
        },
        tableDidUpdate: () => {
        console.log('table did update');
 //        anchorClickFunctionalities();
        
        },
        tableWillUnmount: () => console.log('table will unmount'),
        tableDidUnmount: () => console.log('table did unmount'),
        onPaginationChange: function(nextPage, setPage) {
            setPage(nextPage);
        },
         
    });
    $('#changeRows').on('change', function() {
        table.updateRowsPerPage(parseInt($(this).val(), 10));
        })

        $('#refresh').click(function() {
            table.refresh(true);
            onLoadTask();
        })


        $.ajax({
            url:'/expense/tourBillClaim/getBoardingLodgingDetalList',
            type:'get',
            dataType:'json',
            data:{tourbillId:tourbillId}
        })
        .done((response)=>{
            console.log('response : '+JSON.stringify(response));
            table.setData(response, columns);
            anchorClickFunctionalities();
            addtionalFunctionalities();

        })
        .fail((jqXHR,status,error)=>{
            console.log('jqXHR: '+jqXHR);
            console.log('error: '+JSON.stringify(jqXHR));

        })
        
    function anchorClickFunctionalities()
    {
            $('a.boardingTag').on('click',function(event){
                    event.stopImmediatePropagation();
                    event.stopPropagation();
                    $('#boardingModal').modal('show');
                    let tourbillId = this.id;
                    alert('tourbillId  '+tourbillId);
                    $('#boardingModal').modal('show');
                    $.ajax({
                        url : '/expense/tourBillClaim/getBoardingDetail',
                        type:'get',
                        data : {
                            tourbillId : tourbillId
                        },
                        dataType: 'json',
                        beforeSend : function(){
                          $('#detailLoadingSpinner').show();
                        }
                    })
                    .done((response) => {
                        console.log('BoardingDetail  : '+JSON.stringify(response));
                        $('#detailLoadingSpinner').hide();
                        if(response.length > 0)
                        {
                          let boardingRecord = response[0];
                          let htmlTable = '';
                          let fromDate = new Date(boardingRecord.from__c);
                          fromDate.setHours(fromDate.getHours() + 5);
                          fromDate.setMinutes(fromDate.getMinutes() + 30);
                          let toDate = new Date(boardingRecord.to__c);
                          toDate.setHours(toDate.getHours() + 5);
                          toDate.setMinutes(toDate.getMinutes() + 30);
                          let createdDate = new Date(boardingRecord.createddate);
                          createdDate.setHours(createdDate.getHours() + 5);
                          createdDate.setMinutes(createdDate.getMinutes() + 30);
              
                          let strfromDate = fromDate.toLocaleString();
                          let strtoDate = toDate.toLocaleString();
                          let strCreatedDate = createdDate.toLocaleString();

                          htmlTable += '<tr>';
                              htmlTable += '<td><strong>Name</strong></td>';
                              htmlTable += '<td>'+boardingRecord.boardingname+'</td>';
                              htmlTable += '<td><strong>TourBill Name</strong></td>';
                              htmlTable += '<td>'+boardingRecord.tourbillname+'</td>';
                          htmlTable += '</tr>';
                           
                          htmlTable += '<tr>';
                          htmlTable += '<td><strong>Place OF Journey</strong></td>';
                          htmlTable += '<td>'+boardingRecord.place_journey__c+'</td>';
                          htmlTable += '<td><strong>Stay Option</strong></td>';
                          htmlTable += '<td>'+boardingRecord.stay_option__c+'</td>';
                          htmlTable += '</tr>';

                          htmlTable += '<tr>';
                          htmlTable += '<td><strong>Tier 3 City</strong></td>';
                          if(boardingRecord.correspondence_city__c != null)
                            htmlTable += '<td>'+boardingRecord.correspondence_city__c+'</td>';
                            else
                            htmlTable += '<td></td>';
                          htmlTable += '<td><strong>Activity Code</strong></td>';
                          if(boardingRecord.activitycode != null)
                            htmlTable += '<td>'+boardingRecord.activitycode+'</td>';
                            else
                            htmlTable += '<td></td>';
                          htmlTable += '</tr>';

                          htmlTable += '<tr>';
                          htmlTable += '<td><strong>Own Stay Amount</strong></td>';
                          htmlTable += '<td>'+boardingRecord.own_stay_amount__c+'</td>';
                          htmlTable += '<td><strong>From</strong></td>';
                          htmlTable += '<td>'+strfromDate+'</td>';
                          htmlTable += '</tr>';

                          htmlTable += '<tr>';
                        
                          htmlTable += '<td><strong>To</strong></td>';
                          htmlTable += '<td>'+strtoDate+'</td>';
                          htmlTable += '<td><strong>Numbey Of Day Stay</strong></td>';
                              htmlTable += '<td>'+boardingRecord.number_of_days__c+'</td>';
                          htmlTable += '</tr>';

                          htmlTable += '<tr>';
                            
                              htmlTable += '<td><strong>Daily Allowance</strong></td>';
                            htmlTable += '<td>'+boardingRecord.daily_allowance__c+'</td>';
                            htmlTable += '<td><strong>Amount of B&L as per policy</strong></td>';
                              htmlTable += '<td>'+boardingRecord.amount_of_b_l_as_per_policy__c+'</td>';
                          htmlTable += '</tr>';
                          htmlTable += '<tr>';

                            htmlTable += '<tr>';
                             
                              htmlTable += '<td><strong>Amount for boarding and lodging</strong></td>';
                            htmlTable += '<td>'+boardingRecord.amount_for_boarding_and_lodging__c+'</td>';
                              htmlTable += '<td><strong>Actual Amount of boarding and lodging</strong></td>';
                              htmlTable += '<td>'+boardingRecord.actual_amount_for_boarding_and_lodging__c+'</td>';
                          htmlTable += '</tr>';
                          htmlTable += '<tr>';


                          htmlTable += '<tr>';
                              htmlTable += '<td><strong>Total Amount</strong></td>';
                            htmlTable += '<td>'+boardingRecord.total_amount__c+'</td>';
                            htmlTable += '<td><strong>Extra Amount</strong></td>';
                              htmlTable += '<td>'+boardingRecord.extra_amount__c+'</td>';
                             
                              htmlTable += '</tr>';
                          htmlTable += '<tr>';
                            htmlTable += '<td><strong>Total Daily Allowance</strong></td>';
                              htmlTable += '<td>'+boardingRecord.total_allowance__c+'</td>';
                              htmlTable += '<td><strong>Created Date</strong></td>';
                              htmlTable += '<td>'+strCreatedDate+'</td>';
                          htmlTable += '</tr>';

                          htmlTable += '<tr>';
                                  
                                  htmlTable += '<td><strong>View Image</strong></td>';
                                  console.log('typeof(boardingRecord.heroku_image_url__c) '+typeof(boardingRecord.heroku_image_url__c));
                                  if(boardingRecord.heroku_image_url__c != null && boardingRecord.heroku_image_url__c != '')
                                      htmlTable += '<td><a target="_blank" href="'+boardingRecord.heroku_image_url__c+'" >Click Here</a></td>';
                                  else
                                      htmlTable += '<td></td>';
                                  
                                      htmlTable += '<td><strong></strong></td>';
                                      htmlTable += '<td></td>';
                                  htmlTable += '</tr>';
    
                          $('#boardingTable').empty();
                          $('#boardingTable').html(htmlTable);
                        }
                       
                    })
                    .fail((jqXHR, status, error) =>{
                      $('#detailLoadingSpinner').hide();
                      console.log('jqXHR  : '+JSON.stringify(jqXHR));
                      console.log('error  : '+error);
                    })
            });

    }
    })
    function formatDate(date) {
        var d = new Date(date),
            month = '' + (d.getMonth() + 1),
            day = '' + d.getDate(),
            year = d.getFullYear();
    
        if (month.length < 2) 
            month = '0' + month;
        if (day.length < 2) 
            day = '0' + day;
    
        return [year, month ,day].join('-');
    }
    
    function addtionalFunctionalities()
    {
        $('.editBoarding').on('click',function(event){
            event.stopPropagation();
            event.stopImmediatePropagation();
            let tourbillId = this.id;
            alert('EditBoardingLodging'+tourbillId);
            $('#boardingEditModal').modal('show'); 
            $('#boardingEditModal').modal('show');
                        $.ajax({
                            url : '/expense/tourBillClaim/getBoardingDetail',
                            type:'get',
                            data : {
                              tourbillId : tourbillId
                            },
                            dataType: 'json',
                            beforeSend : function(){
                              $('#detailLoadingSpinner').show();
                            }
                        })  
                        .done((response)=>{
                          console.log('boardingDEtail  : '+JSON.stringify(response));
                          let boardingRecord = response[0];
                          document.forms["editBoardingForm"]["boardingLoadingName"].value = boardingRecord.boardingname;
                          document.forms["editBoardingForm"]["tourName"].value = boardingRecord.tourbillname;
                          document.forms["editBoardingForm"]["placeofJorney"].value = boardingRecord.place_journey__c;
                          document.forms["editBoardingForm"]["stayDay"].value = boardingRecord.number_Of_days__c;
                          document.forms["editBoardingForm"]["stayOption"].value = boardingRecord.stay_option__c;
                          document.forms["editBoardingForm"]["amount"].value = boardingRecord.amount__c;
                          document.forms["editBoardingForm"]["hide"].value = boardingRecord.sfid;
                          let option1 = new Option(boardingRecord.tourbillname,boardingRecord.tourid,true, true);
                          console.log('Option1'+option1);
                          document.forms["editBoardingForm"]["tourName"].appendChild(option1);
                        })
                        .fail((jqXHR, status, error) => {
                          console.log('jqXHR   '+JSON.stringify(jqXHR));
                          console.log('error  '+error);
                      })
    
        })
        $('#editAirBusChargeButton').on('click',function(event){

          event.preventDefault();
                    event.stopPropagation();
                    event.stopImmediatePropagation();
                    alert('Save Button Clicked !');
                    var $inputs = $('#editBoardingForm :input');

                    // not sure if you wanted this, but I thought I'd add it.
                    // get an associative array of just the values.
                    var values = {};
                    $inputs.each(function() {
                        values[this.name] = $(this).val();
                    });
                    
                    alert('formValues : '+JSON.stringify(values));

                    $.ajax({
                        url : '/expense/tourBillClaim/updateBoardingCharge',
                        type:'post',
                        data: values,
                        dataType : 'json'
                    })
                    .done((response) => {
                          console.log('resonse   :'+response);
                    })
                    .fail((jqXHR, status, error) => {
                          console.log('jqXHR  '+JSON.stringify(jqXHR));
                    })

        })
    }

</script>