<% include ../../partials/navbar %>
<% include ../../partials/messages %>
<% include ../../partials/footer %>


<link rel="stylesheet" href="/stylesheets/table-sortable.css">
<script src="/scripts/table-sortable.js" ></script>

<style>
  .project-tab {
    padding: 10%;
    margin-top: -8%;
}
.project-tab #tabs{
    background: #007b5e;
    color: #eee;
}
.project-tab #tabs h6.section-title{
    color: #eee;
}
.project-tab #tabs .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #0062cc;
    background-color: transparent;
    border-color: transparent transparent #f3f3f3;
    border-bottom: 3px solid !important;
    font-size: 16px;
    font-weight: bold;
}
.project-tab .nav-link {
    border: 1px solid transparent;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    color: #0062cc;
    font-size: 16px;
    font-weight: 600;
}
.project-tab .nav-link:hover {
    border: none;
}
.project-tab thead{
    background: #f3f3f3;
    color: #333;
}
.project-tab a{
    text-decoration: none;
    color: #333;
    font-weight: 600;
}
        .accordion {
            max-height: 500px;
            overflow-y: auto;
        }

        section {
            padding: 60px 0;
        }

        #accordion-style-1 h1,
        #accordion-style-1 a {
            color: #007b5e;
        }

        #accordion-style-1 .btn-link {
            font-weight: 400;
            color: #007b5e;
            background-color: transparent;
            text-decoration: none !important;
            font-size: 16px;
            font-weight: bold;
            padding-left: 25px;
        }

        #accordion-style-1 .card-body {
            border-top: 2px solid #007b5e;
        }

        #accordion-style-1 .card-header .btn.collapsed .fa.main {
            display: none;
        }

        #accordion-style-1 .card-header .btn .fa.main {
            background: #007b5e;
            padding: 13px 11px;
            color: #ffffff;
            width: 35px;
            height: 41px;
            position: absolute;
            left: -1px;
            top: 10px;
            border-top-right-radius: 7px;
            border-bottom-right-radius: 7px;
            display: block;
        }

        .rotate {
            -webkit-transform: rotate(90deg);
            /* Chrome, Safari, Opera */
            -moz-transform: rotate(90deg);
            /* Firefox */
            -ms-transform: rotate(90deg);
            /* IE 9 */
            transform: rotate(90deg);
            /* Standard syntax */
        }

        ul.liststyle {
            padding: 0;
            list-style: none;
        }

        ul.liststyle li {
            padding: 5px;
        }
      
        
        #nav-tabContent .btn.collapsed .fa.fa-angle-double-right.mr-3{
          -webkit-transform: rotate(0deg);
            /* Chrome, Safari, Opera */
            -moz-transform: rotate(0deg);
            /* Firefox */
            -ms-transform: rotate(0deg);
            /* IE 9 */
            transform: rotate(0deg);
            /* Standard syntax */
        }
        #nav-tabContent .btn .fa.fa-angle-double-right.mr-3{
          -webkit-transform: rotate(90deg);
            /* Chrome, Safari, Opera */
            -moz-transform: rotate(90deg);
            /* Firefox */
            -ms-transform: rotate(90deg);
            /* IE 9 */
            transform: rotate(90deg);
            /* Standard syntax */
        }
    </style>


<p id="expenseId"><%= expenseId %></p>
<p id="tourBillId"></p>

<center><h3 style="text-align: center; margin-top: 20px;">Tour Bill Claim</h3></center>     
<div class="container">
<div class="row mt-5 mb-3 align-items-center">
    <div class="col-md-5">
        <button class="btn btn-primary btn-md bg-gray"  id="tourBillClaimButton">Create New</button>
        <a class="btn btn-primary btn-md bg-gray" href="/expense" >Go To Expense</a>
       <!--  <button class="btn btn-primary btn-md" id="refresh">Refresh</button> -->
    </div>
    <div class="col-md-3">
    <input type="text" class="form-control" placeholder="Search" id="searchField" style="margin-top: 5px;">
    </div>
    <div class="col-md-2 text-right">
    <span class="pr-2">Rows Per Page:</span>
    </div>
    <div class="col-md-1">
        <div class="d-flex justify-content-end">
            <select class="custom-select" name="rowsPerPage" id="changeRows">
                <option value="5" selected>5</option>
                <option value="10">10</option>
                <option value="15">15</option>
            </select>
        </div>
    </div>
</div>
<div id="TourBillCLaimTable" class="responsive " class="row mt-5 mb-3 align-items-center">
</div>
</div>


<div id="tourBillModal" class="modal fade">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Approval Comment</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
  
          <div id="detailLoadingSpinner">
            <center> <img src="/spinner-gif-transparent-background-14.gif" />  </center>
        </div>
        <table id="tourBillModalTable" class="table">

        </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" id="submitForApproval" >Submit</button>
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>


  <!-- Tour Bill Detail and Related Modal  Start -->

  <div class="modal fade" id="popupTourBillModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Tour Bill  Claim Name </h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <nav>
                            <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                                <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Details</a>
                                <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Related</a>
                            </div>
                        </nav>
                        <div class="tab-content" id="nav-tabContent">
                            <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                                <!-- Particular Expense Details -->
                                <table id="tourBillClaimTable" class="table table-hover striped">
                                    <!-- Inside code is handled by Jquery to add dyanamic Content -->
                                    <div id="tourBillClaimTableSpinner">
                                            <center> <img src="/spinner-gif-transparent-background-14.gif" />  </center>
                                    </div>
                                </table>
                                <!-- Particular Expense Details-->
                            </div>
                            <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                                <div class="accordion" id="accordionExample">

                                    <div class="card">
                                        <div class="card-header" id="headingOne">
                                            <h5 class="mb-0">
                                            <button class="btn btn-link text-left collapsed" type="pettyCashButton"
                                                data-toggle="collapse" data-target="#collapseOne"
                                                aria-expanded="true" aria-controls="collapseOne">
                                                <i class="fa fa-angle-double-right mr-3"></i>Air/Rail/Bus  Fare
                                            </button>
                                            <a href="#" class="btn btn-primary float-right airRailBusCharges" id="airRailBusCharges" style="color:white;" >New</a>
                                        </h5>
                                        </div>

                                        <div id="collapseOne" class="collapse  fade" aria-labelledby="headingOne" data-parent="#accordionExample">
                                            <div class="card-body">
                                                <!-- Need to show Table -->
                                                <table id="airRailBusTable" class="table table-striped">

                                                </table>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="card">
                                        <div class="card-header" id="headingTwo">
                                            <h5 class="mb-0">
                                            <button class="btn btn-link text-left collapsed" type="pettyCashButton"
                                                data-toggle="collapse" data-target="#collapseTwo"
                                                aria-expanded="true" aria-controls="collapseTwo">
                                                <i class="fa fa-angle-double-right mr-3"></i>Conveyance Charges
                                            </button>
                                            <a href="#" class="btn btn-primary float-right conveyanceCharges" id="pettyCashButton" style="color:white;" >New</a>
                                        </h5>
                                        </div>

                                        <div id="collapseTwo" class="collapse fade" aria-labelledby="headingTwo" data-parent="#accordionExample">
                                            <div class="card-body">
                                                <!-- Need to show Table -->
                                                <table id="conveyanceChargesTable" class="table table-striped">

                                                </table>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="card">
                                        <div class="card-header" id="headingThree">
                                            <h5 class="mb-0">
                                            <button class="btn btn-link text-left collapsed" type="pettyCashButton"
                                                data-toggle="collapse" data-target="#collapseThree"
                                                aria-expanded="true" aria-controls="collapseThree">
                                                <i class="fa fa-angle-double-right mr-3"></i>Boarding & Lodging Charges
                                            </button>
                                             <!-- <button class="btn btn-primary float-right" id="pettyCashButton" >New</button> -->
                                            <a href="#" class="btn btn-primary float-right boardingLodgingCharges" id="boardingLodgingCharges" style="color:white;" >New</a>
                                        </h5>
                                        </div>

                                        <div id="collapseThree" class="collapse  fade" aria-labelledby="headingThree" data-parent="#accordionExample">
                                            <div class="card-body">
                                                <!-- Need to show Table -->
                                                <table id="boardingLodgingChargesTable" class="table table-striped">

                                                </table>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="card">
                                        <div class="card-header" id="headingFour">
                                            <h5 class="mb-0">
                                            <button class="btn btn-link collapsed text-left" type="button"
                                                data-toggle="collapse" data-target="#collapseFour"
                                                aria-expanded="false" aria-controls="collapseFour">
                                                <i class="fa fa-angle-double-right mr-3"></i>Telephone & Food Charges
                                            </button>
                                            <!-- <button class="btn btn-primary float-right">New</button> -->
                                            <a href="#" class="btn btn-primary float-right telephoneFood" style="color:white;">New</a>
                                        </h5>
                                        </div>
                                        <div id="collapseFour" class="collapse fade" aria-labelledby="headingFour" data-parent="#accordionExample">
                                            <div class="card-body">
                                                <!-- Need to create table here -->
                                                <table id="telephoneFoodChargesTable" class="table table-striped">

                                                </table>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="card">
                                        <div class="card-header" id="headingFive">
                                            <h5 class="mb-0">
                                            <button class="btn btn-link collapsed text-left" type="button"
                                                data-toggle="collapse" data-target="#collapseFive"
                                                aria-expanded="false" aria-controls="collapseFive">
                                                <i class="fa fa-angle-double-right mr-3"></i>Miscellaneous Charges
                                            </button>
                                            <!-- <button class="btn btn-primary float-right">New</button> -->
                                            <a href="#" class="btn btn-primary float-right miscellaneousCharges" style="color:white;"  id="tourBillClaim">New</a>
                                        </h5>
                                        </div>
                                        <div id="collapseFive" class="collapse fade" aria-labelledby="headingFive" data-parent="#accordionExample">
                                            <div class="card-body">
                                                <!-- Need to create table here -->
                                                <table id="miscellaneousChargesTable" class="table table-striped">

                                                </table>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>

  <!-- Tour Bill Detail and Related  Modal End -->


  <div id="createTourBillClaimModal" class="modal fade bs-example-modal-lg" tabindex ="-1" role="dialog" aria-labelledby="myLargeModalLabel" >
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="createTaskModal">Create New Tour Bill Claim</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form  id="tourBillClaimForm" class="needs-validation" novalidate >

          <div class="form-group">  
              <div class="row">
                <div class="col-md-6">
                  <label for="validationTooltip01">Tour Bill Claim Name</label>
                  <input type="text" class="form-control" id="validationTooltip01" value="" placeholder="Tour Bill Claim Name"  name="tourBillClaimName" required>
                </div>
            </div>
          </div> 
          <div class="form-group">  
              <div class="row">
                <div class="col-md-6">
                  <input type="hidden" class="form-control"  value="<%= expenseId %>"  name="parentExpenseId" required>
                </div>
            </div>
          </div>   

            <div class="modal-footer">
              <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
              <button type="submit" id="tourBillClaimSubmitbutton"  class="btn btn-primary">Save</button>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>



<script>
    $(document).ready(function() { 
        $('#expenseId').hide();
        $('#tourBillId').hide();
        $('#tourBillClaimTableSpinner').hide();
        let expenseId =document.getElementById('expenseId').innerHTML;
      //  alert(expenseId);

        
        let columns ={
            sequence : 'Sequence',
            name: 'Tour Bill Claim Name',
            grandTotal : 'Grand Total',
            createDdate : 'Created Date',

        }
        
      var table = $('#TourBillCLaimTable').tableSortable({
        data :[],
        columns,
        searchField: '#searchField',
        sorting: true,
        rowsPerPage: 5,
        pagination:true,
        tableWillMount: () => {
            console.log('table will mount')
            
        },
        tableDidMount: () => {
            console.log('table did mount');

            $('#spinner').hide();
        },
        tableWillUpdate: () => {
            console.log('table will update')
        //  table.refresh();
        // onLoadTask();
        },
        tableDidUpdate: () => {
        console.log('table did update');
         anchorClickFunctionalities();
        
        },
        tableWillUnmount: () => console.log('table will unmount'),
        tableDidUnmount: () => console.log('table did unmount'),
        onPaginationChange: function(nextPage, setPage) {
            setPage(nextPage);
        },
         
    });

    
    $('#changeRows').on('change', function() {
        table.updateRowsPerPage(parseInt($(this).val(), 10));
        })

        $('#refresh').click(function() {
            table.refresh(true);
            onLoadTask();
        })


        $.ajax({
            url:'/expense/tourBillClaim/gettourbillclaim',
            type:"get",
            data:
            {
                expenseId:expenseId
            },
            datatype:'json'
        })
        .done((response)=>{
            console.log('response '+JSON.stringify(response));
            table.setData(response, columns);
            anchorClickFunctionalities();

         })
         .fail((jqXHR,status,error)=>{
             console.log('jqXHR: '+jqXHR);
             console.log('error: '+JSON.stringify(jqXHR));

         })
         function anchorClickFunctionalities(){
             $('a.tourBillId').on('click',function(event){
               event.preventDefault();
                event.stopImmediatePropagation();
                event.stopPropagation();
                $('#popupTourBillModal').modal('show');
              
              let  tourBillClaimId = $(this).attr('href');
              document.getElementById('tourBillId').innerHTML = tourBillClaimId;

                $.ajax({
                  type: 'get',
                  url : '/expense/tourBillClaim/getRelatedTourBillClaimDetails/'+tourBillClaimId,
                  dataType : 'json',
                  beforeSend : function(){
                      $('#tourBillClaimTableSpinner').show();
                  }
                
              })
              .done((responseData) => {
                  $('#tourBillClaimTableSpinner').hide(); 
                  console.log('response getRelatedTourBillClaimDetails data '+JSON.stringify(responseData));
                  let tourBillClaim = responseData.tourBillClaim;
                  console.log('tourBillClaim  '+JSON.stringify(tourBillClaim));
                  let tourBillClaimTableHtml = '';
                  tourBillClaimTableHtml += '<tr>';
                  tourBillClaimTableHtml += '<td>Name</td>';
                  tourBillClaimTableHtml += '<td>'+tourBillClaim.name+'</td>';
                  tourBillClaimTableHtml += '<td>Expense </td>';
                  tourBillClaimTableHtml += '<td>'+tourBillClaim.expname+'</td>';
                  tourBillClaimTableHtml += '</tr>'; 
                  tourBillClaimTableHtml += '<tr>'; 
                  tourBillClaimTableHtml += '<td>Grand Total</td>';
                  tourBillClaimTableHtml += '<td>'+tourBillClaim.grand__c+'</td>';
                  tourBillClaimTableHtml += '<td></td>';
                  tourBillClaimTableHtml += '<td></td>';
                  tourBillClaimTableHtml += '</tr>';

                  
                  $('#tourBillClaimTable').html(tourBillClaimTableHtml);
    
    
                  let airBusRailFare = responseData.airBusRailFare;
                  console.log('airBusRailFare  '+JSON.stringify(airBusRailFare));
                  let airBusRailFareHtml = '';
                  if(airBusRailFare.length > 0)
                  {
                    airBusRailFareHtml = '<thead>';
                    airBusRailFareHtml += '<th>Air Rail Bus Fares</th>';
                    airBusRailFareHtml += '<th>Arrival Date</th>';
                    airBusRailFareHtml += '<th>Departure Date</th>';
                    airBusRailFareHtml += '<th>Amount</th>';
                    airBusRailFareHtml += '</thead>';
                    airBusRailFareHtml += '<tbody>';
    
                    airBusRailFare.forEach((eachAirRailBus) => {
                      let strArrivalDate = eachAirRailBus.arrival_date__c.toString().split('T')[0];
                      let strDepartureDate = eachAirRailBus.departure_date__c.toString().split('T')[0];
                      airBusRailFareHtml += '<tr>';
                      airBusRailFareHtml += '<td>'+eachAirRailBus.name+'</td>';
                      airBusRailFareHtml += '<td>'+strArrivalDate+'</td>';
                      airBusRailFareHtml += '<td>'+strDepartureDate+'</td>';
                      airBusRailFareHtml += '<td>'+eachAirRailBus.amount__c+'</td>';
                      airBusRailFareHtml += '</tr>';
                    });
                    airBusRailFareHtml += '<tr ><td colspan="4"><center><a target="_blank" href="/expense/tourBillClaim/getAirBusListView?tourBillClaimId='+tourBillClaimId+'" >View All</a></center></td></tr>';
                    airBusRailFareHtml += '</tbody>';
                    
                    $('#airRailBusTable').html(airBusRailFareHtml);
                  }
    
    
                  let conveyanceCharges = responseData.conveyanceCharges;
                  console.log('conveyanceCharges  '+JSON.stringify(conveyanceCharges));
                  if(conveyanceCharges.length > 0)
                  {
                    let conveyanceChargesHtml = '<thead>';
                    conveyanceChargesHtml += '<th>ConveyanceCharges</th>';
                    conveyanceChargesHtml += '<th>Amount</th>';
                    conveyanceChargesHtml += '<th>Date</th>';
                    conveyanceChargesHtml += '</thead><tbody>';
                    conveyanceCharges.forEach((eachConveyanceCharge) => {
                      let strDate = eachConveyanceCharge.date__c.toString().split('T')[0]; 
                      conveyanceChargesHtml += '<tr>';
                      conveyanceChargesHtml += '<td>'+eachConveyanceCharge.name+'</td>';
                      conveyanceChargesHtml += '<td>'+strDate+'</td>';
                      conveyanceChargesHtml += '<td>'+eachConveyanceCharge.amount__c+'</td>';  
                      conveyanceChargesHtml += '</tr>';
                    });
                    conveyanceChargesHtml += '<tr ><td colspan="4"><center><a target="_blank" href="/expense/tourBillClaim/conveyanceChargesListView?tourBillClaimId='+tourBillClaimId+'" >View All</a></center></td></tr>';
                    conveyanceChargesHtml += '</tbody>';
                    
                    $('#conveyanceChargesTable').html(conveyanceChargesHtml);
                  }
    
                  let boardingLodgingCharges = responseData.boardingLodgingCharges;
                  console.log('boardingLodgingCharges  '+JSON.stringify(boardingLodgingCharges));
                  if(boardingLodgingCharges.length > 0)
                  {
                    let boardingLodgingChargesHtml = '<thead>';
                        boardingLodgingChargesHtml += '<th>Boarding Lodging  Number</th>';
                        boardingLodgingChargesHtml += '<th>Amount for Boarding & Lodging</th>';
                        boardingLodgingChargesHtml += '<th>Place Journey</th>';
                        boardingLodgingChargesHtml += '</thead><tbody>';
                      boardingLodgingCharges.forEach((eachBoardingLodging) => {
                        boardingLodgingChargesHtml += '<tr>';
                        boardingLodgingChargesHtml += '<td>'+eachBoardingLodging.name+'</td>';
                        boardingLodgingChargesHtml += '<td>'+eachBoardingLodging.total_amount__c+'</td>';
                        boardingLodgingChargesHtml += '<td>'+eachBoardingLodging.place_journey__c+'</td>';  
                        boardingLodgingChargesHtml += '</tr>';
                    });
                    boardingLodgingChargesHtml+='<tr ><td colspan="4"><center><a target="_blank" href="/expense/tourBillClaim/boardingLodgingListView?tourBillClaimId='+tourBillClaimId+'" >View All</a></center></td></tr>';
                    boardingLodgingChargesHtml += '</tbody>'

                    $('#boardingLodgingChargesTable').html(boardingLodgingChargesHtml);
                  }
    
                  let telephoneFoodCharges = responseData.telephoneFoodCharges;
                  console.log('telephoneFoodCharges  '+JSON.stringify(telephoneFoodCharges));
                  if(telephoneFoodCharges.length > 0)
                  {
                      let telephoneFoodChargesHtml = '<thead>';
                          telephoneFoodChargesHtml += '<th>Telephone Food & Laundry Expense Number</th>';
                          telephoneFoodChargesHtml += '<th>Fooding Expense</th>';
                          telephoneFoodChargesHtml += '<th>Laundry Expense</th>';
                          telephoneFoodChargesHtml += '<th>Reamrks</th>';
                          telephoneFoodChargesHtml += '</thead><tbody>';
                    telephoneFoodCharges.forEach((eachTelephoneFoodCharge) => {
                          telephoneFoodChargesHtml += '<tr>';
                          telephoneFoodChargesHtml += '<td>'+eachTelephoneFoodCharge.name+'</td>';
                          telephoneFoodChargesHtml += '<td>'+eachTelephoneFoodCharge.laundry_expense__c+'</td>';
                          telephoneFoodChargesHtml += '<td>'+eachTelephoneFoodCharge.fooding_expense__c+'</td>';  
                          telephoneFoodChargesHtml += '<td>'+eachTelephoneFoodCharge.remarks__c+'</td>';  
                          telephoneFoodChargesHtml += '</tr>';
                    });
                    telephoneFoodChargesHtml+='<tr ><td colspan="4"><center><a target="_blank" href="/expense/tourBillClaim/telephoneFoodCharge?tourBillClaimId='+tourBillClaimId+'" >View All</a></center></td></tr>';
                    telephoneFoodChargesHtml += '</tbody>'

                    $('#telephoneFoodChargesTable').html(telephoneFoodChargesHtml);
                  }
    
                  let miscellenousCharges = responseData.miscellenousCharges;
                  console.log('miscellenousCharges   '+JSON.stringify(miscellenousCharges));
                  if(miscellenousCharges.length > 0)
                  {
                    let miscellenousChargesHtml = '<thead>';
                        miscellenousChargesHtml += '<th>Miscellaneous Name</th>';
                        miscellenousChargesHtml += '<th>Date</th>';
                        miscellenousChargesHtml += '<th>Amount</th>';
                        miscellenousChargesHtml += '<th>Remarks</th>';
                        miscellenousChargesHtml += '</thead><tbody>';
                    miscellenousCharges.forEach((eachMiscellenousCharge) => {
                        let strDate = eachMiscellenousCharge.date__c.toString().split('T')[0];
                        miscellenousChargesHtml += '<tr>';
                        miscellenousChargesHtml += '<td>'+eachMiscellenousCharge.name+'</td>';
                        miscellenousChargesHtml += '<td>'+strDate+'</td>';
                        miscellenousChargesHtml += '<td>'+eachMiscellenousCharge.amount__c+'</td>';  
                        miscellenousChargesHtml += '<td>'+eachMiscellenousCharge.remarks__c+'</td>';  
                        miscellenousChargesHtml += '</tr>';
                    });
                    
                    miscellenousChargesHtml+='<tr ><td colspan="4"><center><a target="_blank" href="/expense/tourBillClaim/miscellaneousCharge?tourBillClaimId='+tourBillClaimId+'" >View All</a></center></td></tr>';
                    miscellenousChargesHtml += '</tbody>'
                    $('#miscellaneousChargesTable').html(miscellenousChargesHtml);
                  } 
              })
              .fail((jqXHR, textStatus, err) => {
                $('#tourBillClaimTableSpinner').hide(); 
                  console.log('textStatus  '+textStatus);
                  
              })
               
          }) // End of Anchor tag onClick Event
        }

         $('a.airRailBusCharges').click(() => {
            console.log('airRailBusCharges   anchor tag');
            
            var tourBillId = document.getElementById('tourBillId').innerHTML;
            alert('tourBillId  '+tourBillId);
            console.log('tourBillId   '+tourBillId);
            location.assign('/expense/tourBillClaim/airRailBusCharges/'+tourBillId);
          });
  
          $('a.conveyanceCharges').click(() => {
            console.log('conveyanceCharges   anchor tag');
            var tourBillId = document.getElementById('tourBillId').innerHTML;
            console.log('tourBillId   '+tourBillId);
            location.assign('/expense/tourBillClaim/conveyanceCharges/'+tourBillId);
          });
  
          $('a.boardingLodgingCharges').click(() => {
            console.log('boardingLodgingCharges   anchor tag');
            var tourBillId = document.getElementById('tourBillId').innerHTML;
            console.log('tourBillId   : '+tourBillId);
            location.assign('/expense/tourBillClaim/boardingLodgingCharges/'+tourBillId);
          });
  
          $('a.telephoneFood').click(() => {
            console.log('telephoneFood anchor tag');
            var tourBillId = document.getElementById('tourBillId').innerHTML;
            console.log('tourBillId   '+tourBillId);
            location.assign('/expense/tourBillClaim/telephoneFood/'+tourBillId);
          });
  
          $('a.miscellaneousCharges').click(() => {
            console.log('miscellaneousCharges anchor tag');
            var tourBillId = document.getElementById('tourBillId').innerHTML;
            console.log('tourBillId   '+tourBillId);
            location.assign('/expense/tourBillClaim/miscellenousCharges/'+tourBillId);
          });


          $('#tourBillClaimButton').on('click',function(){
                $('#createTourBillClaimModal').modal('show');

                $('#tourBillClaimSubmitbutton').on('click',function(){
                    $('#tourBillClaimForm').submit(function(e){
                        e.preventDefault();
                        var values = $(this).serialize();
                        console.log('tour Bill Claim values  '+values);
                        
        
                        $.ajax({
                          url: '/expense/tourBillClaim/saveTourBillClaim',
                          type: 'post',
                          data:  values,
                          dataType : 'json'
                        })
                        .done((response) => {
                            console.log('response  '+response);
                        })
                        .fail((jqXHR,text,err) => {
                              console.log('jqXHR   '+JSON.stringify(jqXHR));
                              if(jqXHR.responseText == 'Success')
                              {
                                alert('Saved Successfully !');
                                $('#createTourBillClaimModal').modal('hide');
                              }
                              else
                              {
                                alert('There occured error while saving !');
                              }
                              console.log('text  '+text+' err :'+err);
                        })
                      })
                })

          });


    })
</script>


<% include ../../partials/footer %>